In [2]:
# Dependencies
import json
import os
import pandas as pd

In [5]:
# Load JSON
filepath = os.path.join("..", "References", "owid-covid-data.json")
with open(filepath) as jsonfile:
    json_data = json.load(jsonfile)

In [ ]:
#json_data

In [6]:
json_data.keys()
len(json_data)

214

In [7]:
country=[]
country_abbrev=[]
column_names=[]
data= []

In [8]:
for country_code in json_data.keys():
    column_names = json_data[country_code]
    country_abbrev.append(country_code)
    country.append(json_data[country_code]['location'])
    data.append(json_data[country_code]['data'])

In [9]:
data[0][0]

{'date': '2020-03-13',
 'total_cases': 2.0,
 'new_cases': 2.0,
 'new_deaths': 0.0,
 'total_cases_per_million': 18.733,
 'new_cases_per_million': 18.733,
 'new_deaths_per_million': 0.0,
 'stringency_index': 0.0}

In [10]:
names=[]
data=[]
continents=[]
max_date=[]
min_date=[]
max_strin=[]
min_strin=[]
code=[]
for country_code in json_data.keys():

#     if json_data[country_code]["continent"]:
#     continents.append(json_data[country_code]["continent"])
    data.append(json_data[country_code]['data'])
    data_df= pd.DataFrame(data[0])
    data=[]
    try:
        data_df = data_df[["date", "stringency_index"]]
        data_df=data_df.dropna()
        code.append(country_code)
        names.append(json_data[country_code]["location"])
        newdf1=data_df.loc[(data_df["date"] == data_df["date"].min())]
        min_date.extend(newdf1["date"].tolist())
        min_strin.extend(newdf1["stringency_index"].tolist())
        newdf= data_df.loc[(data_df["date"] == data_df["date"].max())]
        max_date.extend(newdf["date"].tolist())
        max_strin.extend(newdf["stringency_index"].tolist())   
    except KeyError:
        None

In [11]:
len(names)

181

In [20]:
data_df=pd.DataFrame({"Country":names, "Code":code, "Min_date":min_date,"Min_Stringency":min_strin, "Max_Date": max_date, "Max_Stringency": max_strin})
data_df

,Country,Code,Min_date,Min_Stringency,Max_Date,Max_Stringency
0,Aruba,ABW,2020-03-13,0.00,2020-11-03,37.04
1,Afghanistan,AFG,2020-01-01,0.00,2020-11-08,5.56
2,Angola,AGO,2020-03-22,11.11,2020-10-31,65.74
3,Anguilla,AIA,2020-03-27,71.30,2020-09-27,24.07
4,Albania,ALB,2020-03-09,36.11,2020-11-08,50.93
...,...,...,...,...,...,...
176,Kosovo,OWID_KOS,2020-03-14,72.22,2020-11-07,60.19
177,Yemen,YEM,2020-04-10,40.74,2020-11-09,24.07
178,South Africa,ZAF,2020-02-07,2.78,2020-10-29,38.89
179,Zambia,ZMB,2020-03-19,16.67,2020-10-29,41.67
180,Zimbabwe,ZWE,2020-03-21,27.78,2020-10-29,71.30

In [21]:
data=data_df.dropna()
data

,Country,Code,Min_date,Min_Stringency,Max_Date,Max_Stringency
0,Aruba,ABW,2020-03-13,0.00,2020-11-03,37.04
1,Afghanistan,AFG,2020-01-01,0.00,2020-11-08,5.56
2,Angola,AGO,2020-03-22,11.11,2020-10-31,65.74
3,Anguilla,AIA,2020-03-27,71.30,2020-09-27,24.07
4,Albania,ALB,2020-03-09,36.11,2020-11-08,50.93
...,...,...,...,...,...,...
176,Kosovo,OWID_KOS,2020-03-14,72.22,2020-11-07,60.19
177,Yemen,YEM,2020-04-10,40.74,2020-11-09,24.07
178,South Africa,ZAF,2020-02-07,2.78,2020-10-29,38.89
179,Zambia,ZMB,2020-03-19,16.67,2020-10-29,41.67
180,Zimbabwe,ZWE,2020-03-21,27.78,2020-10-29,71.30

In [19]:
Country_df=pd.DataFrame({"Code":code,"Country":names})
Country_df=Country_df.set_index("Code")
Country_df

               Country
Code
ABW              Aruba
AFG        Afghanistan
AGO             Angola
AIA           Anguilla
ALB            Albania
...                ...
OWID_KOS        Kosovo
YEM              Yemen
ZAF       South Africa
ZMB             Zambia
ZWE           Zimbabwe

[181 rows x 1 columns]