In [1]:
##### combine transform notebooks

%run Country_Responses.ipynb ### new source JSON
%run HTML_parsing.ipynb ### new source HTML parsing
%run Mortality_rates.ipynb ### source CSV
%run Unemployment_Rates_MartoSep_2020.ipynb ### source CSV
%run Death_Counts.ipynb ### source CSV

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Coronavirus Update (Live): 105,393,497 Cases and 2,292,533 Deaths from COVID-19 Virus Pandemic - Worldometer
  </title>
  <meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
   <link href="/css/bootstrap.min.css" rel="stylesheet"/>
   <link href="/wm16.css" rel="stylesheet"/>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   <script src="/js/jquery.min.js">
   </script>
   <script src="/js/bootstrap.min.js">
   </script>
   <script src="/js/ie10-viewport-bug-workaround.js">
   </script>
   <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
    </script>
    <script data-cfasync="false" type="text/javascript">
     var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
    </script>
   </link>
  </meta>
 </head>
 <body>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
   </script>
   <script>
    window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
   </script>
   <style type="text/css">
    .style1 {
        color: #666666
    }
   </style>
   <div class="navbar navbar-default">
    <div class="container">
     <div class="navbar-header">
      <div class="logo">
       <a class="navbar-brand" href="/">
        <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
       </a>
      </div>
      <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
      </button>
     </div>
     <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
       <li>
        <a href="/coronavirus/">
         <span style="color:#FF9900; font-weight:bold">
          Coronavirus
         </span>
        </a>
       </li>
       <li>
        <a href="/population/">
         Population
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="container">
    <div class="row">
     <div style="text-align:left; margin-bottom:10px">
      <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
      </script>
      <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
      </ins>
      <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
     </div>
    </div>
    <div class="row">
     <div class="col-md-8">
      <div class="content-inner">
       <style>
        .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
       </style>
       <script src="/js/highcharts.js">
       </script>
       <style type="text/css">
        <!--
    .source { }

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }    .source111 {

    } .source1111 {
        font-size: 12px;
        color: #bbb;
    }



    -->
       </style>
       <div class="label-counter" id="page-top">
        COVID-19 Coronavirus Pandemic
       </div>
       <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
        Last updated: February 05, 2021, 00:55 GMT
       </div>
       <div style="margin-top:20px; text-align:center; font-size:14px">
        <a href="/coronavirus/coronavirus-cases/">
        </a>
        <a href="/coronavirus/worldwide-graphs/">
         Graphs
        </a>
        -
        <a href="#countries">
         Countries
        </a>
        -
        <a href="#news">
         News
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Coronavirus Cases:
        </h1>
        <div class="maincounter-number">
         <span style="color:#aaa">
          105,393,497
         </span>
        </div>
       </div>
       <div style="text-align:center ">
        <a href="#countries">
         view by country
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Deaths:
        </h1>
        <div class="maincounter-number">
         <span>
          2,292,533
         </span>
        </div>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px;">
        <h1>
         Recovered:
        </h1>
        <div class="maincounter-number" style="color:#8ACA2B ">
         <span>
          77,086,256
         </span>
        </div>
       </div>
       <div style="margin-top:50px;">
       </div>
       <style>
        .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
       </style>
       <script>
        $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });
    });
       </script>
       <div class="col-md-6">
        <div class="panel panel-default">
         <div class="panel-heading" style="text-align:center">
          <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
           Active Cases
          </span>
         </div>
         <div class="panel-body" style="text-align:center; height:200px;">
          <div class="panel_flip">
           <div class="panel_front" style="width:100%;height:100%;">
            <div class="number-table-main">
             25,870,078
            </div>
            <div style="font-size:13.5px">
             Currently Infected Patients
            </div>
            <div style="padding-top:20px;position:relative;text-align:center; ">
             <div style="float:left; text-align:center">
              <span class="number-table" style="color:#8080FF">
               25,908,823
              </span>
              (
              <strong>
               99.6
              </strong>
              %)
              <div style="font-size:13px">
               in Mild Condition
              </div>
              <br/>
             </div>
             <div style="float:right; text-align:center">
              <span class="number-table" style="color:red ">
               105,885
              </span>
              (
              <strong>
               0.4
              </strong>
              %)
              <div style="font-size:13px">
               Serious or Critical
              </div>
              <br/>
             </div>
            </div>
            <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">
             Show Graph
            </a>
           </div>
           <div class="panel_back" style="width:100%;height:100%;">
            <div id="total-currently-infected-linear">
            </div>
            <script type="text/javascript">
             Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {

<ipython-input-1-23e1dcca6101>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Netherlands')]
<ipython-input-1-23e1dcca6101>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Ecuador')]
<ipython-input-1-23e1dcca6101>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Spain')]
<ipython-input-1-23e1dcca6101>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('France')]
<ipython-input-1-23e1dcca6101>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Turkey')]
<ipython-input-1-23e1dcca6101>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Indonesia')]
<ipython-input-1-23e1dcca6101>:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Russia')]
<ipython-input-1-23e1dcca6101>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Brazil')]
<ipython-input-1-23e1dcca6101>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Peru')]
<ipython-input-1-23e1dcca6101>:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Chile')]
<ipython-input-1-23e1dcca6101>:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Mexico')]
<ipython-input-1-23e1dcca6101>:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('UK')]
<ipython-input-1-23e1dcca6101>:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Belgium')]
<ipython-input-1-23e1dcca6101>:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Portugal')]
<ipython-input-1-23e1dcca6101>:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Denmark')]
<ipython-input-1-23e1dcca6101>:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Austria')]
<ipython-input-1-23e1dcca6101>:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Germany')]
<ipython-input-1-23e1dcca6101>:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Sweden')]
<ipython-input-1-23e1dcca6101>:21: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('South Africa')]
<ipython-input-1-23e1dcca6101>:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Norway')]
<ipython-input-1-23e1dcca6101>:23: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Israel')]
<ipython-input-1-23e1dcca6101>:24: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Iceland')]
<ipython-input-1-23e1dcca6101>:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Switzerland')]
<ipython-input-1-e89c40057390>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2014')]
<ipython-input-1-e89c40057390>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2015')]
<ipython-input-1-e89c40057390>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2016')]
<ipython-input-1-e89c40057390>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2017')]
<ipython-input-1-e89c40057390>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2018')]
<ipython-input-1-e89c40057390>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2019')]

In [2]:
#DataFrame for Covid Infection Collection
#world_data_4_df.reset_index(inplace=True) 
#world_data_4_df=world_data_4_df.drop(columns='index')
#DataFrame for Country Collection
Country_df.reset_index(inplace=True)

#DataFrame for Stringency Collection
#data_df.reset_index(inplace=True)
#data_df=data_df.drop(columns='index')
#DataFrame for Excess Death Collection
US_by_region_df.reset_index(inplace=True)

#DataFrame for Unemployment Rate Collection
#Unemployment_Rates.reset_index(inplace=True)
#Unemployment_Rates=Unemployment_Rates.drop(columns='index')
#DataFrame for Influenza Collection
Influenza_table.reset_index(inplace=True)

In [3]:
#HTML_parsing relevant dataframe 

#COVID Infection

world_data_4_df.head()

,id,Country,Total_Cases,Total_Deaths,Total_Recovered,Active_Cases,Total_Tests,Population
1,1,United States,27268396,466865,17038829,9762702,318665508,332161517
2,2,India,10803533,154862,10495401,153270,199216019,1388086332
3,3,Brazil,9397769,228883,8291763,877123,28600000,213460896
4,4,Russia,3917918,75205,3389913,452800,103200000,145971935
5,5,UK,3892459,110250,1828510,1953699,75610452,68098996

In [4]:
# Country_Responses.ipynb relevant dataframe 1
#Country

Country_df.tail(50)

         Code                   Country
131       PRI               Puerto Rico
132       PRT                  Portugal
133       PRY                  Paraguay
134       PSE                 Palestine
135       QAT                     Qatar
136       ROU                   Romania
137       RUS                    Russia
138       RWA                    Rwanda
139       SAU              Saudi Arabia
140       SDN                     Sudan
141       SEN                   Senegal
142       SGP                 Singapore
143       SLB           Solomon Islands
144       SLE              Sierra Leone
145       SLV               El Salvador
146       SMR                San Marino
147       SOM                   Somalia
148       SRB                    Serbia
149       SSD               South Sudan
150       SUR                  Suriname
151       SVK                  Slovakia
152       SVN                  Slovenia
153       SWE                    Sweden
154       SWZ                 Swaziland
155       SYC                Seychelles
156       SYR                     Syria
157       TCA  Turks and Caicos Islands
158       TCD                      Chad
159       TGO                      Togo
160       THA                  Thailand
161       TJK                Tajikistan
162       TLS                     Timor
163       TTO       Trinidad and Tobago
164       TUN                   Tunisia
165       TUR                    Turkey
166       TWN                    Taiwan
167       TZA                  Tanzania
168       UGA                    Uganda
169       UKR                   Ukraine
170       URY                   Uruguay
171       USA             United States
172       UZB                Uzbekistan
173       VEN                 Venezuela
174       VGB    British Virgin Islands
175       VNM                   Vietnam
176  OWID_KOS                    Kosovo
177       YEM                     Yemen
178       ZAF              South Africa
179       ZMB                    Zambia
180       ZWE                  Zimbabwe

In [5]:
# Country_Responses.ipynb relevant dataframe 2

#Stringency

data_df= data_df.dropna()
data_df.tail(50)

,Country,Code,Start_Period,Start_Period_Stringency,End_Period,End_Period_Stringency
131,Puerto Rico,PRI,2020-03-28,93.52,2020-11-08,67.59
132,Portugal,PRT,2020-02-02,11.11,2020-11-05,62.96
133,Paraguay,PRY,2020-03-07,5.56,2020-10-29,64.81
134,Palestine,PSE,2020-03-06,74.07,2020-11-10,40.74
135,Qatar,QAT,2020-01-01,0.00,2020-11-09,64.81
136,Romania,ROU,2020-01-01,0.00,2020-11-08,54.63
137,Russia,RUS,2020-01-01,0.00,2020-11-09,44.91
138,Rwanda,RWA,2020-03-15,30.09,2020-11-09,69.44
139,Saudi Arabia,SAU,2020-03-02,11.11,2020-10-29,57.41
140,Sudan,SDN,2020-03-14,45.37,2020-11-07,32.41
141,Senegal,SEN,2020-02-28,0.00,2020-11-02,37.96
142,Singapore,SGP,2020-01-01,0.00,2020-11-02,52.78
143,Solomon Islands,SLB,2020-10-16,43.52,2020-11-07,43.52
144,Sierra Leone,SLE,2020-04-01,60.19,2020-11-03,31.48
145,El Salvador,SLV,2020-03-19,65.74,2020-10-29,52.78
146,San Marino,SMR,2020-01-01,0.00,2020-11-01,31.48
147,Somalia,SOM,2020-03-17,8.33,2020-11-07,37.96
148,Serbia,SRB,2020-02-26,13.89,2020-11-01,51.85
149,South Sudan,SSD,2020-04-06,73.15,2020-11-02,35.19
150,Suriname,SUR,2020-03-15,33.33,2020-11-08,68.52
151,Slovakia,SVK,2020-03-06,16.67,2020-10-29,75.00
152,Slovenia,SVN,2020-02-02,0.00,2020-11-04,68.52
153,Sweden,SWE,2020-01-01,0.00,2020-10-27,37.04
154,Swaziland,SWZ,2020-03-15,19.44,2020-10-28,48.15
155,Seychelles,SYC,2020-03-15,25.00,2020-10-30,31.48
156,Syria,SYR,2020-03-23,77.78,2020-11-09,34.72
157,Turks and Caicos Islands,TCA,2020-03-25,27.78,2020-09-01,53.70
158,Chad,TCD,2020-03-20,27.78,2020-11-09,66.67
159,Togo,TGO,2020-03-04,0.00,2020-10-27,52.78
160,Thailand,THA,2020-01-01,0.00,2020-11-02,43.52
161,Tajikistan,TJK,2020-05-01,46.30,2020-11-06,37.04
162,Timor,TLS,2020-03-22,13.89,2020-10-29,29.63
163,Trinidad and Tobago,TTO,2020-03-13,20.37,2020-11-01,77.78
164,Tunisia,TUN,2020-03-03,0.00,2020-11-02,75.00
165,Turkey,TUR,2020-03-12,23.15,2020-10-28,68.06
166,Taiwan,TWN,2020-01-01,2.78,2020-11-09,19.44
167,Tanzania,TZA,2020-03-17,32.41,2020-10-26,13.89
168,Uganda,UGA,2020-03-22,47.22,2020-11-08,57.41
169,Ukraine,UKR,2020-03-04,11.11,2020-10-26,58.80
170,Uruguay,URY,2020-03-15,51.85,2020-10-29,43.52
171,United States,USA,2020-01-01,0.00,2020-11-08,62.50
172,Uzbekistan,UZB,2020-03-16,60.19,2020-11-02,53.70
173,Venezuela,VEN,2020-03-15,51.85,2020-11-05,84.26
174,British Virgin Islands,VGB,2020-03-27,72.22,2020-09-01,68.52
175,Vietnam,VNM,2020-01-01,0.00,2020-11-02,51.85
176,Kosovo,OWID_KOS,2020-03-14,72.22,2020-11-07,60.19
177,Yemen,YEM,2020-04-10,40.74,2020-11-09,24.07
178,South Africa,ZAF,2020-02-07,2.78,2020-10-29,38.89
179,Zambia,ZMB,2020-03-19,16.67,2020-10-29,41.67
180,Zimbabwe,ZWE,2020-03-21,27.78,2020-10-29,71.30

In [6]:
# Mortality_rates.ipynb relevant dataframe

US_by_region_df.head()

  Jurisdiction deaths expected_deaths excess_deaths        Country
0       Alaska     96              96             9  United States
1      Arizona   1938            1219            98  United States
2     Arkansas    759             676            97  United States
3   California   6252            5819           925  United States
4     Colorado    993             829            98  United States

In [7]:
# Unemployment_Rates_MartoSep_2020.ipynb relevant dataframe

Unemployment_Rates.tail(50)

           Date        Country  Unemployment Rate
185  2020-08-31         France           7.500000
186  2020-08-31        Germany           4.500000
187  2020-08-31        Hungary           4.400000
188  2020-08-31        Iceland           5.000000
189  2020-08-31        Ireland           5.200000
190  2020-08-31         Israel           4.868170
191  2020-08-31          Italy           9.700000
192  2020-08-31          Japan           3.000000
193  2020-08-31    South Korea           3.200000
194  2020-08-31         Latvia           8.800000
195  2020-08-31      Lithuania           9.600000
196  2020-08-31     Luxembourg           6.800000
197  2020-08-31         Mexico           4.967234
198  2020-08-31    Netherlands           4.600000
199  2020-08-31         Norway           5.300000
200  2020-08-31         Poland           3.100000
201  2020-08-31       Portugal           8.100000
202  2020-08-31       Slovakia           6.900000
203  2020-08-31       Slovenia           4.700000
204  2020-08-31          Spain          16.700000
205  2020-08-31         Sweden           9.100000
206  2020-08-31  United States           8.400000
207  2020-09-30      Australia           6.939229
208  2020-09-30        Austria           5.500000
209  2020-09-30        Belgium           5.200000
210  2020-09-30         Canada           9.000000
211  2020-09-30       Colombia          16.611720
212  2020-09-30        Czechia           2.800000
213  2020-09-30        Denmark           6.100000
214  2020-09-30        Finland           8.400000
215  2020-09-30         France           7.900000
216  2020-09-30        Germany           4.500000
217  2020-09-30        Iceland           5.600000
218  2020-09-30        Ireland           5.400000
219  2020-09-30         Israel           4.687041
220  2020-09-30          Italy           9.600000
221  2020-09-30          Japan           3.000000
222  2020-09-30    South Korea           3.900000
223  2020-09-30         Latvia           8.400000
224  2020-09-30      Lithuania           9.800000
225  2020-09-30     Luxembourg           6.700000
226  2020-09-30         Mexico           4.689714
227  2020-09-30    Netherlands           4.400000
228  2020-09-30         Poland           3.100000
229  2020-09-30       Portugal           7.700000
230  2020-09-30       Slovakia           6.800000
231  2020-09-30       Slovenia           4.700000
232  2020-09-30          Spain          16.500000
233  2020-09-30         Sweden           9.000000
234  2020-09-30  United States           7.900000

In [8]:
# Death_Counts.ipynb relevant dataframe

Influenza_table
#####Influenza_table["Country"]= ###add the USA

,Jurisdiction,COVID-19_Deaths,Total_Deaths,Pneumonia_Influenza_Deaths
0,Alabama,3943.0,44469.0,3652.0
1,Alaska,0.0,3174.0,0.0
2,Arizona,5188.0,53617.0,5651.0
3,Arkansas,1615.0,26019.0,2321.0
4,California,16775.0,220012.0,22872.0
5,Colorado,1951.0,32230.0,2521.0
6,Connecticut,4307.0,25007.0,1963.0
7,Delaware,464.0,7549.0,360.0
8,District of Columbia,578.0,4392.0,613.0
9,Florida,15841.0,174349.0,18137.0
10,Georgia,6726.0,70871.0,6400.0
11,Hawaii,144.0,8660.0,413.0
12,Idaho,434.0,11197.0,470.0
13,Illinois,8703.0,92098.0,9286.0
14,Indiana,3930.0,52643.0,4881.0
15,Iowa,1556.0,23875.0,1623.0
16,Kansas,875.0,21026.0,1357.0
17,Kentucky,1344.0,36706.0,3373.0
18,Louisiana,5189.0,39472.0,4089.0
19,Maine,54.0,11215.0,589.0
20,Maryland,4403.0,43157.0,4261.0
21,Massachusetts,8038.0,50268.0,5738.0
22,Michigan,6582.0,82475.0,7530.0
23,Minnesota,2260.0,35465.0,2668.0
24,Mississippi,3070.0,28073.0,3397.0
25,Missouri,2727.0,48801.0,3388.0
26,Montana,170.0,7820.0,319.0
27,Nebraska,543.0,12804.0,844.0
28,Nevada,1508.0,20786.0,2326.0
29,New Hampshire,403.0,9810.0,480.0
30,New Jersey,14264.0,71265.0,10377.0
31,New Mexico,706.0,15026.0,1038.0
32,New York,32914.0,154918.0,24202.0
33,New York City,0.0,0.0,0.0
34,North Carolina,2716.0,60402.0,4490.0
35,North Dakota,188.0,5036.0,225.0
36,Ohio,4939.0,94223.0,6536.0
37,Oklahoma,1429.0,30000.0,2934.0
38,Oregon,511.0,27534.0,1150.0
39,Pennsylvania,8775.0,107079.0,8079.0
40,Rhode Island,959.0,8039.0,587.0
41,South Carolina,3608.0,43177.0,3813.0
42,South Dakota,158.0,6055.0,227.0
43,Tennessee,2709.0,57441.0,4969.0
44,Texas,17457.0,170391.0,18675.0
45,Utah,385.0,14777.0,713.0
46,Vermont,31.0,4585.0,71.0
47,Virginia,3501.0,56406.0,3700.0
48,Washington,1954.0,44531.0,3333.0
49,West Virginia,269.0,15504.0,1002.0
50,Wisconsin,1623.0,42217.0,2241.0
51,Wyoming,0.0,3909.0,57.0

In [9]:
# Dependencies
import pymongo
import requests
import numpy
from sqlalchemy import create_engine
import pandas as pd

In [10]:
# Initialize postgres connection

client = pymongo.MongoClient("mongodb://dbUser:dbUser@cluster0-shard-00-00.lfpww.mongodb.net:27017,cluster0-shard-00-01.lfpww.mongodb.net:27017,cluster0-shard-00-02.lfpww.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-za5qq0-shard-0&authSource=admin&retryWrites=true&w=majority")

In [11]:
# Define database and collection

# Grabs list if databases in MondoDB
dblist = client.list_database_names()

# Checks if DB already exist, if not create it
if "covid_db" in dblist:
  print("The database covid_db already exists.")
else:
  db = client["covid_db"]
  print("DB covid_db created.")

db = client.covid_db


# Checks if Collection already exist, if not create it

col_list = db.list_collection_names()

if "stringency" in col_list:
  print("The collection stringency already exists.")
else:
  collection_stringency = db['stringency']
  print("Col Stringency created.")

if "excess_death" in col_list:
  print("The collection sexcess_death already exists.")
else:
  collection_xsdeath = db['excess_death']
  print("Col excess_death created.")

if "country" in col_list:
  print("The collection country already exists.")
else:
  collection_country = db['country']
  print("Col country created.")
  
if "covid_infection" in col_list:
  print("The collection covid_infection already exists.")
else:
  collection_covid_infection = db['covid_infection']
  print("Col covid_infection created.")

if "unemployment" in col_list:
  print("The collection unemployment already exists.")
else:
  collection_unemployment = db['unemployment']
  print("Col unemployment created.")

if "influenza" in col_list:
  print("The collection influenza already exists.")
else:
  collection_influenza = db['influenza']
  print("Col influenza created.")

#collection_stringency = db['stringency']
#collection_xsdeath = db['excess_death']
#collection_country = db['country']
#collection_covid_infection = db['covid_infection']
#collection_unemployment = db['unemployment']
#collection_influenza = db['influenza']

DB covid_db created.
Col Stringency created.
Col excess_death created.
Col country created.
Col covid_infection created.
Col unemployment created.
Col influenza created.

In [12]:
## Custom Class which confirms datatype is readable by MongoBD
# and if test fail, convert to readable variable


class CustomEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, numpy.integer):
            return int(obj)
        elif isinstance(obj, numpy.floating):
            return float(obj)
        elif isinstance(obj, numpy.ndarray):
            return obj.tolist()
        else:
            return super(CustomEncoder, self).default(obj)

In [13]:
#Covid Infection Collection        
world_data_dict=world_data_4_df.to_dict("records")
world_clean_json = json.dumps(world_data_dict,cls=CustomEncoder)
world_final  = json.loads(world_clean_json)

#Country Collection
country_data_dict=Country_df.to_dict("records") ###
country_clean_json = json.dumps(country_data_dict,cls=CustomEncoder)
country_final  = json.loads(country_clean_json)

#Stringency Collection
string_data_dict=data_df.to_dict("records")
string_clean_json = json.dumps(string_data_dict,cls=CustomEncoder)
string_final  = json.loads(string_clean_json)

#Excess Death Collection
xsdeath_data_dict=US_by_region_df.to_dict("records")
xsdeath_clean_json = json.dumps(xsdeath_data_dict,cls=CustomEncoder)
xsdeathfinal  = json.loads(xsdeath_clean_json)

#Unemployment Rate Collection
unemp_data_dict=Unemployment_Rates.to_dict("records")
unemp_clean_json = json.dumps(unemp_data_dict,cls=CustomEncoder)
unemp_final  = json.loads(unemp_clean_json)



#Influenza Collection
flu_data_dict=Influenza_table.to_dict("records")
flu_clean_json = json.dumps(flu_data_dict,cls=CustomEncoder)
flu_final  = json.loads(flu_clean_json)

In [ ]:

#Empty Table if data exists
db.collection_stringency.remove( { } )
db.collection_xsdeath.remove( { } )
db.collection_country.remove( { } )
db.collection_covid_infection.remove( { } )
db.collection_unemployment.remove( { } )
db.collection_influenza.remove( { } )

In [14]:
###push records to DB

db.collection_covid_infection.insert_many(world_final)
db.collection_country.insert_many(country_final)
db.collection_stringency.insert_many(string_final)
db.collection_xsdeath.insert_many(xsdeathfinal)
db.collection_unemployment.insert_many(unemp_final)
db.collection_influenza.insert_many(flu_final)

In [15]:
print(client.list_database_names())

['covid_db', 'admin', 'local']

In [16]:
# Display the MongoDB records created above
covid_infect = db.collection_covid_infection.find()

for record in covid_infect:
    print(record)

{'_id': ObjectId('601c9889631cb040aefa54db'), 'id': 1, 'Country': 'United States', 'Total_Cases': 27268396, 'Total_Deaths': 466865, 'Total_Recovered': 17038829, 'Active_Cases': 9762702, 'Total_Tests': 318665508, 'Population': 332161517}
{'_id': ObjectId('601c9889631cb040aefa54dc'), 'id': 2, 'Country': 'India', 'Total_Cases': 10803533, 'Total_Deaths': 154862, 'Total_Recovered': 10495401, 'Active_Cases': 153270, 'Total_Tests': 199216019, 'Population': 1388086332}
{'_id': ObjectId('601c9889631cb040aefa54dd'), 'id': 3, 'Country': 'Brazil', 'Total_Cases': 9397769, 'Total_Deaths': 228883, 'Total_Recovered': 8291763, 'Active_Cases': 877123, 'Total_Tests': 28600000, 'Population': 213460896}
{'_id': ObjectId('601c9889631cb040aefa54de'), 'id': 4, 'Country': 'Russia', 'Total_Cases': 3917918, 'Total_Deaths': 75205, 'Total_Recovered': 3389913, 'Active_Cases': 452800, 'Total_Tests': 103200000, 'Population': 145971935}
{'_id': ObjectId('601c9889631cb040aefa54df'), 'id': 5, 'Country': 'UK', 'Total_Cases': 3892459, 'Total_Deaths': 110250, 'Total_Recovered': 1828510, 'Active_Cases': 1953699, 'Total_Tests': 75610452, 'Population': 68098996}
{'_id': ObjectId('601c9889631cb040aefa54e0'), 'id': 6, 'Country': 'France', 'Total_Cases': 3274608, 'Total_Deaths': 77952, 'Total_Recovered': 228472, 'Active_Cases': 2968184, 'Total_Tests': 45205557, 'Population': 65359921}
{'_id': ObjectId('601c9889631cb040aefa54e1'), 'id': 8, 'Country': 'Italy', 'Total_Cases': 2597446, 'Total_Deaths': 90241, 'Total_Recovered': 2076928, 'Active_Cases': 430277, 'Total_Tests': 33603023, 'Population': 60408532}
{'_id': ObjectId('601c9889631cb040aefa54e2'), 'id': 9, 'Country': 'Turkey', 'Total_Cases': 2508988, 'Total_Deaths': 26467, 'Total_Recovered': 2396199, 'Active_Cases': 86322, 'Total_Tests': 30206504, 'Population': 84879364}
{'_id': ObjectId('601c9889631cb040aefa54e3'), 'id': 10, 'Country': 'Germany', 'Total_Cases': 2265536, 'Total_Deaths': 60885, 'Total_Recovered': 1991000, 'Active_Cases': 213651, 'Total_Tests': 40705522, 'Population': 83944131}
{'_id': ObjectId('601c9889631cb040aefa54e4'), 'id': 11, 'Country': 'Colombia', 'Total_Cases': 2135412, 'Total_Deaths': 55131, 'Total_Recovered': 2001135, 'Active_Cases': 79146, 'Total_Tests': 10345704, 'Population': 51205793}
{'_id': ObjectId('601c9889631cb040aefa54e5'), 'id': 12, 'Country': 'Argentina', 'Total_Cases': 1961635, 'Total_Deaths': 48700, 'Total_Recovered': 1754705, 'Active_Cases': 158230, 'Total_Tests': 6393504, 'Population': 45442913}
{'_id': ObjectId('601c9889631cb040aefa54e6'), 'id': 13, 'Country': 'Mexico', 'Total_Cases': 1886245, 'Total_Deaths': 161240, 'Total_Recovered': 1450237, 'Active_Cases': 274768, 'Total_Tests': 4762394, 'Population': 129739348}
{'_id': ObjectId('601c9889631cb040aefa54e7'), 'id': 14, 'Country': 'Poland', 'Total_Cases': 1533511, 'Total_Deaths': 38344, 'Total_Recovered': 1288163, 'Active_Cases': 207004, 'Total_Tests': 8794269, 'Population': 37821768}
{'_id': ObjectId('601c9889631cb040aefa54e8'), 'id': 15, 'Country': 'South Africa', 'Total_Cases': 1466767, 'Total_Deaths': 45605, 'Total_Recovered': 1327186, 'Active_Cases': 93976, 'Total_Tests': 8400319, 'Population': 59753378}
{'_id': ObjectId('601c9889631cb040aefa54e9'), 'id': 16, 'Country': 'Iran', 'Total_Cases': 1445326, 'Total_Deaths': 58256, 'Total_Recovered': 1235581, 'Active_Cases': 151489, 'Total_Tests': 9504930, 'Population': 84632205}
{'_id': ObjectId('601c9889631cb040aefa54ea'), 'id': 17, 'Country': 'Ukraine', 'Total_Cases': 1232246, 'Total_Deaths': 23229, 'Total_Recovered': 1055406, 'Active_Cases': 153611, 'Total_Tests': 6299699, 'Population': 43575893}
{'_id': ObjectId('601c9889631cb040aefa54eb'), 'id': 18, 'Country': 'Peru', 'Total_Cases': 1165052, 'Total_Deaths': 41753, 'Total_Recovered': 1076446, 'Active_Cases': 46853, 'Total_Tests': 6491121, 'Population': 33244774}
{'_id': ObjectId('601c9889631cb040aefa54ec'), 'id': 19, 'Country': 'Indonesia', 'Total_Cases': 1123105, 'Total_Deaths': 31001, 'Total_Recovered': 917306, 'Active_Cases': 174798, 'Total_Tests': 9502313, 'Population': 275245757}
{'_id': ObjectId('601c9889631cb040aefa54ed'), 'id': 20, 'Country': 'Czechia', 'Total_Cases': 1013352, 'Total_Deaths': 16826, 'Total_Recovered': 902007, 'Active_Cases': 94519, 'Total_Tests': 6385086, 'Population': 10720869}
{'_id': ObjectId('601c9889631cb040aefa54ee'), 'id': 22, 'Country': 'Canada', 'Total_Cases': 793734, 'Total_Deaths': 20513, 'Total_Recovered': 725507, 'Active_Cases': 47714, 'Total_Tests': 21798645, 'Population': 37939397}
{'_id': ObjectId('601c9889631cb040aefa54ef'), 'id': 23, 'Country': 'Portugal', 'Total_Cases': 748858, 'Total_Deaths': 13482, 'Total_Recovered': 573934, 'Active_Cases': 161442, 'Total_Tests': 7473397, 'Population': 10178873}
{'_id': ObjectId('601c9889631cb040aefa54f0'), 'id': 24, 'Country': 'Chile', 'Total_Cases': 740237, 'Total_Deaths': 18731, 'Total_Recovered': 698248, 'Active_Cases': 23258, 'Total_Tests': 8217733, 'Population': 19214019}
{'_id': ObjectId('601c9889631cb040aefa54f1'), 'id': 25, 'Country': 'Romania', 'Total_Cases': 738152, 'Total_Deaths': 18675, 'Total_Recovered': 684095, 'Active_Cases': 35382, 'Total_Tests': 5523609, 'Population': 19160557}
{'_id': ObjectId('601c9889631cb040aefa54f2'), 'id': 26, 'Country': 'Belgium', 'Total_Cases': 716395, 'Total_Deaths': 21216, 'Total_Recovered': 49302, 'Active_Cases': 645877, 'Total_Tests': 8388416, 'Population': 11619763}
{'_id': ObjectId('601c9889631cb040aefa54f3'), 'id': 27, 'Country': 'Israel', 'Total_Cases': 675618, 'Total_Deaths': 5001, 'Total_Recovered': 589718, 'Active_Cases': 80899, 'Total_Tests': 10725110, 'Population': 9197590}
{'_id': ObjectId('601c9889631cb040aefa54f4'), 'id': 28, 'Country': 'Iraq', 'Total_Cases': 624222, 'Total_Deaths': 13091, 'Total_Recovered': 596959, 'Active_Cases': 14172, 'Total_Tests': 5803603, 'Population': 40755941}
{'_id': ObjectId('601c9889631cb040aefa54f5'), 'id': 30, 'Country': 'Pakistan', 'Total_Cases': 550540, 'Total_Deaths': 11833, 'Total_Recovered': 505818, 'Active_Cases': 32889, 'Total_Tests': 8085427, 'Population': 223432221}
{'_id': ObjectId('601c9889631cb040aefa54f6'), 'id': 31, 'Country': 'Bangladesh', 'Total_Cases': 537030, 'Total_Deaths': 8175, 'Total_Recovered': 481917, 'Active_Cases': 46938, 'Total_Tests': 3708907, 'Population': 165666671}
{'_id': ObjectId('601c9889631cb040aefa54f7'), 'id': 32, 'Country': 'Philippines', 'Total_Cases': 531699, 'Total_Deaths': 10997, 'Total_Recovered': 487927, 'Active_Cases': 32775, 'Total_Tests': 7963066, 'Population': 110448057}
{'_id': ObjectId('601c9889631cb040aefa54f8'), 'id': 33, 'Country': 'Switzerland', 'Total_Cases': 530289, 'Total_Deaths': 9556, 'Total_Recovered': 317600, 'Active_Cases': 203133, 'Total_Tests': 4447970, 'Population': 8692379}
{'_id': ObjectId('601c9889631cb040aefa54f9'), 'id': 34, 'Country': 'Morocco', 'Total_Cases': 473667, 'Total_Deaths': 8351, 'Total_Recovered': 452522, 'Active_Cases': 12794, 'Total_Tests': 5419052, 'Population': 37170851}
{'_id': ObjectId('601c9889631cb040aefa54fa'), 'id': 35, 'Country': 'Austria', 'Total_Cases': 419801, 'Total_Deaths': 7936, 'Total_Recovered': 397910, 'Active_Cases': 13955, 'Total_Tests': 4493252, 'Population': 9037082}
{'_id': ObjectId('601c9889631cb040aefa54fb'), 'id': 36, 'Country': 'Serbia', 'Total_Cases': 402700, 'Total_Deaths': 4085, 'Total_Recovered': 31536, 'Active_Cases': 367079, 'Total_Tests': 2664142, 'Population': 8716246}
{'_id': ObjectId('601c9889631cb040aefa54fc'), 'id': 37, 'Country': 'Japan', 'Total_Cases': 396429, 'Total_Deaths': 6020, 'Total_Recovered': 349332, 'Active_Cases': 41077, 'Total_Tests': 7051485, 'Population': 126244175}
{'_id': ObjectId('601c9889631cb040aefa54fd'), 'id': 38, 'Country': 'Hungary', 'Total_Cases': 371988, 'Total_Deaths': 12832, 'Total_Recovered': 274308, 'Active_Cases': 84848, 'Total_Tests': 3210549, 'Population': 9645639}
{'_id': ObjectId('601c9889631cb040aefa54fe'), 'id': 39, 'Country': 'Saudi Arabia', 'Total_Cases': 369248, 'Total_Deaths': 6389, 'Total_Recovered': 360697, 'Active_Cases': 2162, 'Total_Tests': 12392359, 'Population': 35135708}
{'_id': ObjectId('601c9889631cb040aefa54ff'), 'id': 40, 'Country': 'Jordan', 'Total_Cases': 331768, 'Total_Deaths': 4354, 'Total_Recovered': 317948, 'Active_Cases': 9466, 'Total_Tests': 3962915, 'Population': 10263467}
{'_id': ObjectId('601c9889631cb040aefa5500'), 'id': 41, 'Country': 'Panama', 'Total_Cases': 324489, 'Total_Deaths': 5391, 'Total_Recovered': 285490, 'Active_Cases': 33608, 'Total_Tests': 1714415, 'Population': 4355082}
{'_id': ObjectId('601c9889631cb040aefa5501'), 'id': 42, 'Country': 'United Arab Emirates', 'Total_Cases': 316875, 'Total_Deaths': 888, 'Total_Recovered': 293180, 'Active_Cases': 22807, 'Total_Tests': 26404351, 'Population': 9961488}
{'_id': ObjectId('601c9889631cb040aefa5502'), 'id': 43, 'Country': 'Lebanon', 'Total_Cases': 312269, 'Total_Deaths': 3397, 'Total_Recovered': 192324, 'Active_Cases': 116548, 'Total_Tests': 2655105, 'Population': 6807094}
{'_id': ObjectId('601c9889631cb040aefa5503'), 'id': 44, 'Country': 'Nepal', 'Total_Cases': 271602, 'Total_Deaths': 2033, 'Total_Recovered': 267292, 'Active_Cases': 2277, 'Total_Tests': 2085573, 'Population': 29447417}
{'_id': ObjectId('601c9889631cb040aefa5504'), 'id': 45, 'Country': 'Georgia', 'Total_Cases': 260480, 'Total_Deaths': 3240, 'Total_Recovered': 251748, 'Active_Cases': 5492, 'Total_Tests': 2268861, 'Population': 3984576}
{'_id': ObjectId('601c9889631cb040aefa5505'), 'id': 46, 'Country': 'Slovakia', 'Total_Cases': 256903, 'Total_Deaths': 4976, 'Total_Recovered': 230456, 'Active_Cases': 21471, 'Total_Tests': 1799783, 'Population': 5461226}
{'_id': ObjectId('601c9889631cb040aefa5506'), 'id': 47, 'Country': 'Belarus', 'Total_Cases': 253413, 'Total_Deaths': 1755, 'Total_Recovered': 241150, 'Active_Cases': 10508, 'Total_Tests': 4519705, 'Population': 9447461}
{'_id': ObjectId('601c9889631cb040aefa5507'), 'id': 48, 'Country': 'Ecuador', 'Total_Cases': 253339, 'Total_Deaths': 14968, 'Total_Recovered': 209814, 'Active_Cases': 28557, 'Total_Tests': 896016, 'Population': 17802123}
{'_id': ObjectId('601c9889631cb040aefa5508'), 'id': 49, 'Country': 'Croatia', 'Total_Cases': 234153, 'Total_Deaths': 5106, 'Total_Recovered': 226073, 'Active_Cases': 2974, 'Total_Tests': 1212302, 'Population': 4090054}
{'_id': ObjectId('601c9889631cb040aefa5509'), 'id': 50, 'Country': 'Malaysia', 'Total_Cases': 231483, 'Total_Deaths': 826, 'Total_Recovered': 181886, 'Active_Cases': 48771, 'Total_Tests': 5038302, 'Population': 32612576}
{'_id': ObjectId('601c9889631cb040aefa550a'), 'id': 51, 'Country': 'Azerbaijan', 'Total_Cases': 230769, 'Total_Deaths': 3148, 'Total_Recovered': 224431, 'Active_Cases': 3190, 'Total_Tests': 2433585, 'Population': 10193642}
{'_id': ObjectId('601c9889631cb040aefa550b'), 'id': 52, 'Country': 'Bolivia', 'Total_Cases': 222447, 'Total_Deaths': 10571, 'Total_Recovered': 163338, 'Active_Cases': 48538, 'Total_Tests': 583093, 'Population': 11767653}
{'_id': ObjectId('601c9889631cb040aefa550c'), 'id': 53, 'Country': 'Bulgaria', 'Total_Cases': 222149, 'Total_Deaths': 9272, 'Total_Recovered': 192332, 'Active_Cases': 20545, 'Total_Tests': 1434996, 'Population': 6916993}
{'_id': ObjectId('601c9889631cb040aefa550d'), 'id': 54, 'Country': 'Dominican Republic', 'Total_Cases': 218948, 'Total_Deaths': 2747, 'Total_Recovered': 162810, 'Active_Cases': 53391, 'Total_Tests': 1076923, 'Population': 10912702}
{'_id': ObjectId('601c9889631cb040aefa550e'), 'id': 55, 'Country': 'Tunisia', 'Total_Cases': 213949, 'Total_Deaths': 7048, 'Total_Recovered': 169300, 'Active_Cases': 37601, 'Total_Tests': 882900, 'Population': 11892257}
{'_id': ObjectId('601c9889631cb040aefa550f'), 'id': 56, 'Country': 'Ireland', 'Total_Cases': 200744, 'Total_Deaths': 3586, 'Total_Recovered': 23364, 'Active_Cases': 173794, 'Total_Tests': 3150632, 'Population': 4970615}
{'_id': ObjectId('601c9889631cb040aefa5510'), 'id': 57, 'Country': 'Denmark', 'Total_Cases': 200335, 'Total_Deaths': 2184, 'Total_Recovered': 190549, 'Active_Cases': 7602, 'Total_Tests': 13959099, 'Population': 5804396}
{'_id': ObjectId('601c9889631cb040aefa5511'), 'id': 58, 'Country': 'Costa Rica', 'Total_Cases': 195992, 'Total_Deaths': 2662, 'Total_Recovered': 155581, 'Active_Cases': 37749, 'Total_Tests': 601058, 'Population': 5121839}
{'_id': ObjectId('601c9889631cb040aefa5512'), 'id': 59, 'Country': 'Kazakhstan', 'Total_Cases': 191639, 'Total_Deaths': 2476, 'Total_Recovered': 172209, 'Active_Cases': 16954, 'Total_Tests': 6399596, 'Population': 18910323}
{'_id': ObjectId('601c9889631cb040aefa5513'), 'id': 60, 'Country': 'Lithuania', 'Total_Cases': 184948, 'Total_Deaths': 2885, 'Total_Recovered': 133994, 'Active_Cases': 48069, 'Total_Tests': 1957327, 'Population': 2699376}
{'_id': ObjectId('601c9889631cb040aefa5514'), 'id': 61, 'Country': 'Slovenia', 'Total_Cases': 171340, 'Total_Deaths': 3580, 'Total_Recovered': 150860, 'Active_Cases': 16900, 'Total_Tests': 820363, 'Population': 2079109}
{'_id': ObjectId('601c9889631cb040aefa5515'), 'id': 62, 'Country': 'Kuwait', 'Total_Cases': 168250, 'Total_Deaths': 962, 'Total_Recovered': 160098, 'Active_Cases': 7190, 'Total_Tests': 1558109, 'Population': 4308080}
{'_id': ObjectId('601c9889631cb040aefa5516'), 'id': 63, 'Country': 'Egypt', 'Total_Cases': 168057, 'Total_Deaths': 9512, 'Total_Recovered': 131211, 'Active_Cases': 27334, 'Total_Tests': 1000000, 'Population': 103477761}
{'_id': ObjectId('601c9889631cb040aefa5517'), 'id': 64, 'Country': 'Armenia', 'Total_Cases': 167568, 'Total_Deaths': 3107, 'Total_Recovered': 159045, 'Active_Cases': 5416, 'Total_Tests': 656323, 'Population': 2966557}
{'_id': ObjectId('601c9889631cb040aefa5518'), 'id': 65, 'Country': 'Moldova', 'Total_Cases': 162624, 'Total_Deaths': 3497, 'Total_Recovered': 151880, 'Active_Cases': 7247, 'Total_Tests': 638437, 'Population': 4028340}
{'_id': ObjectId('601c9889631cb040aefa5519'), 'id': 66, 'Country': 'Guatemala', 'Total_Cases': 161665, 'Total_Deaths': 5785, 'Total_Recovered': 147486, 'Active_Cases': 8394, 'Total_Tests': 804560, 'Population': 18111930}
{'_id': ObjectId('601c9889631cb040aefa551a'), 'id': 67, 'Country': 'Palestine', 'Total_Cases': 161087, 'Total_Deaths': 1865, 'Total_Recovered': 151082, 'Active_Cases': 8140, 'Total_Tests': 1033988, 'Population': 5171466}
{'_id': ObjectId('601c9889631cb040aefa551b'), 'id': 68, 'Country': 'Greece', 'Total_Cases': 160935, 'Total_Deaths': 5903, 'Total_Recovered': 145768, 'Active_Cases': 9264, 'Total_Tests': 4313349, 'Population': 10392481}
{'_id': ObjectId('601c9889631cb040aefa551c'), 'id': 69, 'Country': 'Qatar', 'Total_Cases': 152898, 'Total_Deaths': 249, 'Total_Recovered': 146474, 'Active_Cases': 6175, 'Total_Tests': 1413949, 'Population': 2807805}
{'_id': ObjectId('601c9889631cb040aefa551d'), 'id': 70, 'Country': 'Honduras', 'Total_Cases': 151103, 'Total_Deaths': 3662, 'Total_Recovered': 61284, 'Active_Cases': 86157, 'Total_Tests': 381505, 'Population': 9998098}
{'_id': ObjectId('601c9889631cb040aefa551e'), 'id': 71, 'Country': 'Myanmar', 'Total_Cases': 141104, 'Total_Deaths': 3163, 'Total_Recovered': 126869, 'Active_Cases': 11072, 'Total_Tests': 2436785, 'Population': 54627472}
{'_id': ObjectId('601c9889631cb040aefa551f'), 'id': 72, 'Country': 'Ethiopia', 'Total_Cases': 140157, 'Total_Deaths': 2126, 'Total_Recovered': 124242, 'Active_Cases': 13789, 'Total_Tests': 1986007, 'Population': 116644062}
{'_id': ObjectId('601c9889631cb040aefa5520'), 'id': 73, 'Country': 'Nigeria', 'Total_Cases': 136030, 'Total_Deaths': 1632, 'Total_Recovered': 110449, 'Active_Cases': 23949, 'Total_Tests': 1302410, 'Population': 209154617}
{'_id': ObjectId('601c9889631cb040aefa5521'), 'id': 74, 'Country': 'Paraguay', 'Total_Cases': 136023, 'Total_Deaths': 2779, 'Total_Recovered': 111667, 'Active_Cases': 21577, 'Total_Tests': 666265, 'Population': 7184651}
{'_id': ObjectId('601c9889631cb040aefa5522'), 'id': 75, 'Country': 'Oman', 'Total_Cases': 135041, 'Total_Deaths': 1532, 'Total_Recovered': 127266, 'Active_Cases': 6243, 'Total_Tests': 1550000, 'Population': 5183235}
{'_id': ObjectId('601c9889631cb040aefa5523'), 'id': 76, 'Country': 'Venezuela', 'Total_Cases': 128315, 'Total_Deaths': 1209, 'Total_Recovered': 120204, 'Active_Cases': 6902, 'Total_Tests': 2683167, 'Population': 28387609}
{'_id': ObjectId('601c9889631cb040aefa5524'), 'id': 77, 'Country': 'Bosnia and Herzegovina', 'Total_Cases': 122828, 'Total_Deaths': 4745, 'Total_Recovered': 96096, 'Active_Cases': 21987, 'Total_Tests': 603521, 'Population': 3268556}
{'_id': ObjectId('601c9889631cb040aefa5525'), 'id': 78, 'Country': 'Libya', 'Total_Cases': 122013, 'Total_Deaths': 1919, 'Total_Recovered': 102448, 'Active_Cases': 17646, 'Total_Tests': 666388, 'Population': 6926824}
{'_id': ObjectId('601c9889631cb040aefa5526'), 'id': 80, 'Country': 'Bahrain', 'Total_Cases': 105496, 'Total_Deaths': 377, 'Total_Recovered': 99939, 'Active_Cases': 5180, 'Total_Tests': 2766759, 'Population': 1736248}
{'_id': ObjectId('601c9889631cb040aefa5527'), 'id': 81, 'Country': 'Kenya', 'Total_Cases': 101339, 'Total_Deaths': 1773, 'Total_Recovered': 84143, 'Active_Cases': 15423, 'Total_Tests': 1200302, 'Population': 54471503}
{'_id': ObjectId('601c9889631cb040aefa5528'), 'id': 82, 'Country': 'North Macedonia', 'Total_Cases': 93882, 'Total_Deaths': 2900, 'Total_Recovered': 83424, 'Active_Cases': 7558, 'Total_Tests': 463957, 'Population': 2083323}
{'_id': ObjectId('601c9889631cb040aefa5529'), 'id': 83, 'Country': 'Kyrgyzstan', 'Total_Cases': 84832, 'Total_Deaths': 1418, 'Total_Recovered': 81334, 'Active_Cases': 2080, 'Total_Tests': 670041, 'Population': 6588053}
{'_id': ObjectId('601c9889631cb040aefa552a'), 'id': 84, 'Country': 'Albania', 'Total_Cases': 81993, 'Total_Deaths': 1418, 'Total_Recovered': 49543, 'Active_Cases': 31032, 'Total_Tests': 368733, 'Population': 2875914}
{'_id': ObjectId('601c9889631cb040aefa552b'), 'id': 85, 'Country': 'S. Korea', 'Total_Cases': 79762, 'Total_Deaths': 1448, 'Total_Recovered': 69704, 'Active_Cases': 8610, 'Total_Tests': 5803095, 'Population': 51295601}
{'_id': ObjectId('601c9889631cb040aefa552c'), 'id': 86, 'Country': 'Uzbekistan', 'Total_Cases': 78916, 'Total_Deaths': 621, 'Total_Recovered': 77368, 'Active_Cases': 927, 'Total_Tests': 1377915, 'Population': 33757329}
{'_id': ObjectId('601c9889631cb040aefa552d'), 'id': 87, 'Country': 'Latvia', 'Total_Cases': 69400, 'Total_Deaths': 1281, 'Total_Recovered': 55708, 'Active_Cases': 12411, 'Total_Tests': 1214849, 'Population': 1873637}
{'_id': ObjectId('601c9889631cb040aefa552e'), 'id': 88, 'Country': 'Ghana', 'Total_Cases': 69255, 'Total_Deaths': 440, 'Total_Recovered': 62729, 'Active_Cases': 6086, 'Total_Tests': 792936, 'Population': 31456669}
{'_id': ObjectId('601c9889631cb040aefa552f'), 'id': 89, 'Country': 'Sri Lanka', 'Total_Cases': 67115, 'Total_Deaths': 339, 'Total_Recovered': 60567, 'Active_Cases': 6209, 'Total_Tests': 1762354, 'Population': 21466904}
{'_id': ObjectId('601c9889631cb040aefa5530'), 'id': 90, 'Country': 'Norway', 'Total_Cases': 64212, 'Total_Deaths': 582, 'Total_Recovered': 57004, 'Active_Cases': 6626, 'Total_Tests': 3472029, 'Population': 5446522}
{'_id': ObjectId('601c9889631cb040aefa5531'), 'id': 91, 'Country': 'Montenegro', 'Total_Cases': 63633, 'Total_Deaths': 826, 'Total_Recovered': 55349, 'Active_Cases': 7458, 'Total_Tests': 236300, 'Population': 628114}
{'_id': ObjectId('601c9889631cb040aefa5532'), 'id': 92, 'Country': 'Singapore', 'Total_Cases': 59624, 'Total_Deaths': 29, 'Total_Recovered': 59348, 'Active_Cases': 247, 'Total_Tests': 6557144, 'Population': 5877781}
{'_id': ObjectId('601c9889631cb040aefa5533'), 'id': 93, 'Country': 'Zambia', 'Total_Cases': 59003, 'Total_Deaths': 812, 'Total_Recovered': 51305, 'Active_Cases': 6886, 'Total_Tests': 945112, 'Population': 18687141}
{'_id': ObjectId('601c9889631cb040aefa5534'), 'id': 94, 'Country': 'El Salvador', 'Total_Cases': 55821, 'Total_Deaths': 1653, 'Total_Recovered': 49944, 'Active_Cases': 4224, 'Total_Tests': 707896, 'Population': 6505754}

In [17]:
# Display the MongoDB records created above
data_iterate = db.collection_covid_infection.find()

for record in data_iterate:
    print(record)

{'_id': ObjectId('601c9889631cb040aefa54db'), 'id': 1, 'Country': 'United States', 'Total_Cases': 27268396, 'Total_Deaths': 466865, 'Total_Recovered': 17038829, 'Active_Cases': 9762702, 'Total_Tests': 318665508, 'Population': 332161517}
{'_id': ObjectId('601c9889631cb040aefa54dc'), 'id': 2, 'Country': 'India', 'Total_Cases': 10803533, 'Total_Deaths': 154862, 'Total_Recovered': 10495401, 'Active_Cases': 153270, 'Total_Tests': 199216019, 'Population': 1388086332}
{'_id': ObjectId('601c9889631cb040aefa54dd'), 'id': 3, 'Country': 'Brazil', 'Total_Cases': 9397769, 'Total_Deaths': 228883, 'Total_Recovered': 8291763, 'Active_Cases': 877123, 'Total_Tests': 28600000, 'Population': 213460896}
{'_id': ObjectId('601c9889631cb040aefa54de'), 'id': 4, 'Country': 'Russia', 'Total_Cases': 3917918, 'Total_Deaths': 75205, 'Total_Recovered': 3389913, 'Active_Cases': 452800, 'Total_Tests': 103200000, 'Population': 145971935}
{'_id': ObjectId('601c9889631cb040aefa54df'), 'id': 5, 'Country': 'UK', 'Total_Cases': 3892459, 'Total_Deaths': 110250, 'Total_Recovered': 1828510, 'Active_Cases': 1953699, 'Total_Tests': 75610452, 'Population': 68098996}
{'_id': ObjectId('601c9889631cb040aefa54e0'), 'id': 6, 'Country': 'France', 'Total_Cases': 3274608, 'Total_Deaths': 77952, 'Total_Recovered': 228472, 'Active_Cases': 2968184, 'Total_Tests': 45205557, 'Population': 65359921}
{'_id': ObjectId('601c9889631cb040aefa54e1'), 'id': 8, 'Country': 'Italy', 'Total_Cases': 2597446, 'Total_Deaths': 90241, 'Total_Recovered': 2076928, 'Active_Cases': 430277, 'Total_Tests': 33603023, 'Population': 60408532}
{'_id': ObjectId('601c9889631cb040aefa54e2'), 'id': 9, 'Country': 'Turkey', 'Total_Cases': 2508988, 'Total_Deaths': 26467, 'Total_Recovered': 2396199, 'Active_Cases': 86322, 'Total_Tests': 30206504, 'Population': 84879364}
{'_id': ObjectId('601c9889631cb040aefa54e3'), 'id': 10, 'Country': 'Germany', 'Total_Cases': 2265536, 'Total_Deaths': 60885, 'Total_Recovered': 1991000, 'Active_Cases': 213651, 'Total_Tests': 40705522, 'Population': 83944131}
{'_id': ObjectId('601c9889631cb040aefa54e4'), 'id': 11, 'Country': 'Colombia', 'Total_Cases': 2135412, 'Total_Deaths': 55131, 'Total_Recovered': 2001135, 'Active_Cases': 79146, 'Total_Tests': 10345704, 'Population': 51205793}
{'_id': ObjectId('601c9889631cb040aefa54e5'), 'id': 12, 'Country': 'Argentina', 'Total_Cases': 1961635, 'Total_Deaths': 48700, 'Total_Recovered': 1754705, 'Active_Cases': 158230, 'Total_Tests': 6393504, 'Population': 45442913}
{'_id': ObjectId('601c9889631cb040aefa54e6'), 'id': 13, 'Country': 'Mexico', 'Total_Cases': 1886245, 'Total_Deaths': 161240, 'Total_Recovered': 1450237, 'Active_Cases': 274768, 'Total_Tests': 4762394, 'Population': 129739348}
{'_id': ObjectId('601c9889631cb040aefa54e7'), 'id': 14, 'Country': 'Poland', 'Total_Cases': 1533511, 'Total_Deaths': 38344, 'Total_Recovered': 1288163, 'Active_Cases': 207004, 'Total_Tests': 8794269, 'Population': 37821768}
{'_id': ObjectId('601c9889631cb040aefa54e8'), 'id': 15, 'Country': 'South Africa', 'Total_Cases': 1466767, 'Total_Deaths': 45605, 'Total_Recovered': 1327186, 'Active_Cases': 93976, 'Total_Tests': 8400319, 'Population': 59753378}
{'_id': ObjectId('601c9889631cb040aefa54e9'), 'id': 16, 'Country': 'Iran', 'Total_Cases': 1445326, 'Total_Deaths': 58256, 'Total_Recovered': 1235581, 'Active_Cases': 151489, 'Total_Tests': 9504930, 'Population': 84632205}
{'_id': ObjectId('601c9889631cb040aefa54ea'), 'id': 17, 'Country': 'Ukraine', 'Total_Cases': 1232246, 'Total_Deaths': 23229, 'Total_Recovered': 1055406, 'Active_Cases': 153611, 'Total_Tests': 6299699, 'Population': 43575893}
{'_id': ObjectId('601c9889631cb040aefa54eb'), 'id': 18, 'Country': 'Peru', 'Total_Cases': 1165052, 'Total_Deaths': 41753, 'Total_Recovered': 1076446, 'Active_Cases': 46853, 'Total_Tests': 6491121, 'Population': 33244774}
{'_id': ObjectId('601c9889631cb040aefa54ec'), 'id': 19, 'Country': 'Indonesia', 'Total_Cases': 1123105, 'Total_Deaths': 31001, 'Total_Recovered': 917306, 'Active_Cases': 174798, 'Total_Tests': 9502313, 'Population': 275245757}
{'_id': ObjectId('601c9889631cb040aefa54ed'), 'id': 20, 'Country': 'Czechia', 'Total_Cases': 1013352, 'Total_Deaths': 16826, 'Total_Recovered': 902007, 'Active_Cases': 94519, 'Total_Tests': 6385086, 'Population': 10720869}
{'_id': ObjectId('601c9889631cb040aefa54ee'), 'id': 22, 'Country': 'Canada', 'Total_Cases': 793734, 'Total_Deaths': 20513, 'Total_Recovered': 725507, 'Active_Cases': 47714, 'Total_Tests': 21798645, 'Population': 37939397}
{'_id': ObjectId('601c9889631cb040aefa54ef'), 'id': 23, 'Country': 'Portugal', 'Total_Cases': 748858, 'Total_Deaths': 13482, 'Total_Recovered': 573934, 'Active_Cases': 161442, 'Total_Tests': 7473397, 'Population': 10178873}
{'_id': ObjectId('601c9889631cb040aefa54f0'), 'id': 24, 'Country': 'Chile', 'Total_Cases': 740237, 'Total_Deaths': 18731, 'Total_Recovered': 698248, 'Active_Cases': 23258, 'Total_Tests': 8217733, 'Population': 19214019}
{'_id': ObjectId('601c9889631cb040aefa54f1'), 'id': 25, 'Country': 'Romania', 'Total_Cases': 738152, 'Total_Deaths': 18675, 'Total_Recovered': 684095, 'Active_Cases': 35382, 'Total_Tests': 5523609, 'Population': 19160557}
{'_id': ObjectId('601c9889631cb040aefa54f2'), 'id': 26, 'Country': 'Belgium', 'Total_Cases': 716395, 'Total_Deaths': 21216, 'Total_Recovered': 49302, 'Active_Cases': 645877, 'Total_Tests': 8388416, 'Population': 11619763}
{'_id': ObjectId('601c9889631cb040aefa54f3'), 'id': 27, 'Country': 'Israel', 'Total_Cases': 675618, 'Total_Deaths': 5001, 'Total_Recovered': 589718, 'Active_Cases': 80899, 'Total_Tests': 10725110, 'Population': 9197590}
{'_id': ObjectId('601c9889631cb040aefa54f4'), 'id': 28, 'Country': 'Iraq', 'Total_Cases': 624222, 'Total_Deaths': 13091, 'Total_Recovered': 596959, 'Active_Cases': 14172, 'Total_Tests': 5803603, 'Population': 40755941}
{'_id': ObjectId('601c9889631cb040aefa54f5'), 'id': 30, 'Country': 'Pakistan', 'Total_Cases': 550540, 'Total_Deaths': 11833, 'Total_Recovered': 505818, 'Active_Cases': 32889, 'Total_Tests': 8085427, 'Population': 223432221}
{'_id': ObjectId('601c9889631cb040aefa54f6'), 'id': 31, 'Country': 'Bangladesh', 'Total_Cases': 537030, 'Total_Deaths': 8175, 'Total_Recovered': 481917, 'Active_Cases': 46938, 'Total_Tests': 3708907, 'Population': 165666671}
{'_id': ObjectId('601c9889631cb040aefa54f7'), 'id': 32, 'Country': 'Philippines', 'Total_Cases': 531699, 'Total_Deaths': 10997, 'Total_Recovered': 487927, 'Active_Cases': 32775, 'Total_Tests': 7963066, 'Population': 110448057}
{'_id': ObjectId('601c9889631cb040aefa54f8'), 'id': 33, 'Country': 'Switzerland', 'Total_Cases': 530289, 'Total_Deaths': 9556, 'Total_Recovered': 317600, 'Active_Cases': 203133, 'Total_Tests': 4447970, 'Population': 8692379}
{'_id': ObjectId('601c9889631cb040aefa54f9'), 'id': 34, 'Country': 'Morocco', 'Total_Cases': 473667, 'Total_Deaths': 8351, 'Total_Recovered': 452522, 'Active_Cases': 12794, 'Total_Tests': 5419052, 'Population': 37170851}
{'_id': ObjectId('601c9889631cb040aefa54fa'), 'id': 35, 'Country': 'Austria', 'Total_Cases': 419801, 'Total_Deaths': 7936, 'Total_Recovered': 397910, 'Active_Cases': 13955, 'Total_Tests': 4493252, 'Population': 9037082}
{'_id': ObjectId('601c9889631cb040aefa54fb'), 'id': 36, 'Country': 'Serbia', 'Total_Cases': 402700, 'Total_Deaths': 4085, 'Total_Recovered': 31536, 'Active_Cases': 367079, 'Total_Tests': 2664142, 'Population': 8716246}
{'_id': ObjectId('601c9889631cb040aefa54fc'), 'id': 37, 'Country': 'Japan', 'Total_Cases': 396429, 'Total_Deaths': 6020, 'Total_Recovered': 349332, 'Active_Cases': 41077, 'Total_Tests': 7051485, 'Population': 126244175}
{'_id': ObjectId('601c9889631cb040aefa54fd'), 'id': 38, 'Country': 'Hungary', 'Total_Cases': 371988, 'Total_Deaths': 12832, 'Total_Recovered': 274308, 'Active_Cases': 84848, 'Total_Tests': 3210549, 'Population': 9645639}
{'_id': ObjectId('601c9889631cb040aefa54fe'), 'id': 39, 'Country': 'Saudi Arabia', 'Total_Cases': 369248, 'Total_Deaths': 6389, 'Total_Recovered': 360697, 'Active_Cases': 2162, 'Total_Tests': 12392359, 'Population': 35135708}
{'_id': ObjectId('601c9889631cb040aefa54ff'), 'id': 40, 'Country': 'Jordan', 'Total_Cases': 331768, 'Total_Deaths': 4354, 'Total_Recovered': 317948, 'Active_Cases': 9466, 'Total_Tests': 3962915, 'Population': 10263467}
{'_id': ObjectId('601c9889631cb040aefa5500'), 'id': 41, 'Country': 'Panama', 'Total_Cases': 324489, 'Total_Deaths': 5391, 'Total_Recovered': 285490, 'Active_Cases': 33608, 'Total_Tests': 1714415, 'Population': 4355082}
{'_id': ObjectId('601c9889631cb040aefa5501'), 'id': 42, 'Country': 'United Arab Emirates', 'Total_Cases': 316875, 'Total_Deaths': 888, 'Total_Recovered': 293180, 'Active_Cases': 22807, 'Total_Tests': 26404351, 'Population': 9961488}
{'_id': ObjectId('601c9889631cb040aefa5502'), 'id': 43, 'Country': 'Lebanon', 'Total_Cases': 312269, 'Total_Deaths': 3397, 'Total_Recovered': 192324, 'Active_Cases': 116548, 'Total_Tests': 2655105, 'Population': 6807094}
{'_id': ObjectId('601c9889631cb040aefa5503'), 'id': 44, 'Country': 'Nepal', 'Total_Cases': 271602, 'Total_Deaths': 2033, 'Total_Recovered': 267292, 'Active_Cases': 2277, 'Total_Tests': 2085573, 'Population': 29447417}
{'_id': ObjectId('601c9889631cb040aefa5504'), 'id': 45, 'Country': 'Georgia', 'Total_Cases': 260480, 'Total_Deaths': 3240, 'Total_Recovered': 251748, 'Active_Cases': 5492, 'Total_Tests': 2268861, 'Population': 3984576}
{'_id': ObjectId('601c9889631cb040aefa5505'), 'id': 46, 'Country': 'Slovakia', 'Total_Cases': 256903, 'Total_Deaths': 4976, 'Total_Recovered': 230456, 'Active_Cases': 21471, 'Total_Tests': 1799783, 'Population': 5461226}
{'_id': ObjectId('601c9889631cb040aefa5506'), 'id': 47, 'Country': 'Belarus', 'Total_Cases': 253413, 'Total_Deaths': 1755, 'Total_Recovered': 241150, 'Active_Cases': 10508, 'Total_Tests': 4519705, 'Population': 9447461}
{'_id': ObjectId('601c9889631cb040aefa5507'), 'id': 48, 'Country': 'Ecuador', 'Total_Cases': 253339, 'Total_Deaths': 14968, 'Total_Recovered': 209814, 'Active_Cases': 28557, 'Total_Tests': 896016, 'Population': 17802123}
{'_id': ObjectId('601c9889631cb040aefa5508'), 'id': 49, 'Country': 'Croatia', 'Total_Cases': 234153, 'Total_Deaths': 5106, 'Total_Recovered': 226073, 'Active_Cases': 2974, 'Total_Tests': 1212302, 'Population': 4090054}
{'_id': ObjectId('601c9889631cb040aefa5509'), 'id': 50, 'Country': 'Malaysia', 'Total_Cases': 231483, 'Total_Deaths': 826, 'Total_Recovered': 181886, 'Active_Cases': 48771, 'Total_Tests': 5038302, 'Population': 32612576}
{'_id': ObjectId('601c9889631cb040aefa550a'), 'id': 51, 'Country': 'Azerbaijan', 'Total_Cases': 230769, 'Total_Deaths': 3148, 'Total_Recovered': 224431, 'Active_Cases': 3190, 'Total_Tests': 2433585, 'Population': 10193642}
{'_id': ObjectId('601c9889631cb040aefa550b'), 'id': 52, 'Country': 'Bolivia', 'Total_Cases': 222447, 'Total_Deaths': 10571, 'Total_Recovered': 163338, 'Active_Cases': 48538, 'Total_Tests': 583093, 'Population': 11767653}
{'_id': ObjectId('601c9889631cb040aefa550c'), 'id': 53, 'Country': 'Bulgaria', 'Total_Cases': 222149, 'Total_Deaths': 9272, 'Total_Recovered': 192332, 'Active_Cases': 20545, 'Total_Tests': 1434996, 'Population': 6916993}
{'_id': ObjectId('601c9889631cb040aefa550d'), 'id': 54, 'Country': 'Dominican Republic', 'Total_Cases': 218948, 'Total_Deaths': 2747, 'Total_Recovered': 162810, 'Active_Cases': 53391, 'Total_Tests': 1076923, 'Population': 10912702}
{'_id': ObjectId('601c9889631cb040aefa550e'), 'id': 55, 'Country': 'Tunisia', 'Total_Cases': 213949, 'Total_Deaths': 7048, 'Total_Recovered': 169300, 'Active_Cases': 37601, 'Total_Tests': 882900, 'Population': 11892257}
{'_id': ObjectId('601c9889631cb040aefa550f'), 'id': 56, 'Country': 'Ireland', 'Total_Cases': 200744, 'Total_Deaths': 3586, 'Total_Recovered': 23364, 'Active_Cases': 173794, 'Total_Tests': 3150632, 'Population': 4970615}
{'_id': ObjectId('601c9889631cb040aefa5510'), 'id': 57, 'Country': 'Denmark', 'Total_Cases': 200335, 'Total_Deaths': 2184, 'Total_Recovered': 190549, 'Active_Cases': 7602, 'Total_Tests': 13959099, 'Population': 5804396}
{'_id': ObjectId('601c9889631cb040aefa5511'), 'id': 58, 'Country': 'Costa Rica', 'Total_Cases': 195992, 'Total_Deaths': 2662, 'Total_Recovered': 155581, 'Active_Cases': 37749, 'Total_Tests': 601058, 'Population': 5121839}
{'_id': ObjectId('601c9889631cb040aefa5512'), 'id': 59, 'Country': 'Kazakhstan', 'Total_Cases': 191639, 'Total_Deaths': 2476, 'Total_Recovered': 172209, 'Active_Cases': 16954, 'Total_Tests': 6399596, 'Population': 18910323}
{'_id': ObjectId('601c9889631cb040aefa5513'), 'id': 60, 'Country': 'Lithuania', 'Total_Cases': 184948, 'Total_Deaths': 2885, 'Total_Recovered': 133994, 'Active_Cases': 48069, 'Total_Tests': 1957327, 'Population': 2699376}
{'_id': ObjectId('601c9889631cb040aefa5514'), 'id': 61, 'Country': 'Slovenia', 'Total_Cases': 171340, 'Total_Deaths': 3580, 'Total_Recovered': 150860, 'Active_Cases': 16900, 'Total_Tests': 820363, 'Population': 2079109}
{'_id': ObjectId('601c9889631cb040aefa5515'), 'id': 62, 'Country': 'Kuwait', 'Total_Cases': 168250, 'Total_Deaths': 962, 'Total_Recovered': 160098, 'Active_Cases': 7190, 'Total_Tests': 1558109, 'Population': 4308080}
{'_id': ObjectId('601c9889631cb040aefa5516'), 'id': 63, 'Country': 'Egypt', 'Total_Cases': 168057, 'Total_Deaths': 9512, 'Total_Recovered': 131211, 'Active_Cases': 27334, 'Total_Tests': 1000000, 'Population': 103477761}
{'_id': ObjectId('601c9889631cb040aefa5517'), 'id': 64, 'Country': 'Armenia', 'Total_Cases': 167568, 'Total_Deaths': 3107, 'Total_Recovered': 159045, 'Active_Cases': 5416, 'Total_Tests': 656323, 'Population': 2966557}
{'_id': ObjectId('601c9889631cb040aefa5518'), 'id': 65, 'Country': 'Moldova', 'Total_Cases': 162624, 'Total_Deaths': 3497, 'Total_Recovered': 151880, 'Active_Cases': 7247, 'Total_Tests': 638437, 'Population': 4028340}
{'_id': ObjectId('601c9889631cb040aefa5519'), 'id': 66, 'Country': 'Guatemala', 'Total_Cases': 161665, 'Total_Deaths': 5785, 'Total_Recovered': 147486, 'Active_Cases': 8394, 'Total_Tests': 804560, 'Population': 18111930}
{'_id': ObjectId('601c9889631cb040aefa551a'), 'id': 67, 'Country': 'Palestine', 'Total_Cases': 161087, 'Total_Deaths': 1865, 'Total_Recovered': 151082, 'Active_Cases': 8140, 'Total_Tests': 1033988, 'Population': 5171466}
{'_id': ObjectId('601c9889631cb040aefa551b'), 'id': 68, 'Country': 'Greece', 'Total_Cases': 160935, 'Total_Deaths': 5903, 'Total_Recovered': 145768, 'Active_Cases': 9264, 'Total_Tests': 4313349, 'Population': 10392481}
{'_id': ObjectId('601c9889631cb040aefa551c'), 'id': 69, 'Country': 'Qatar', 'Total_Cases': 152898, 'Total_Deaths': 249, 'Total_Recovered': 146474, 'Active_Cases': 6175, 'Total_Tests': 1413949, 'Population': 2807805}
{'_id': ObjectId('601c9889631cb040aefa551d'), 'id': 70, 'Country': 'Honduras', 'Total_Cases': 151103, 'Total_Deaths': 3662, 'Total_Recovered': 61284, 'Active_Cases': 86157, 'Total_Tests': 381505, 'Population': 9998098}
{'_id': ObjectId('601c9889631cb040aefa551e'), 'id': 71, 'Country': 'Myanmar', 'Total_Cases': 141104, 'Total_Deaths': 3163, 'Total_Recovered': 126869, 'Active_Cases': 11072, 'Total_Tests': 2436785, 'Population': 54627472}
{'_id': ObjectId('601c9889631cb040aefa551f'), 'id': 72, 'Country': 'Ethiopia', 'Total_Cases': 140157, 'Total_Deaths': 2126, 'Total_Recovered': 124242, 'Active_Cases': 13789, 'Total_Tests': 1986007, 'Population': 116644062}
{'_id': ObjectId('601c9889631cb040aefa5520'), 'id': 73, 'Country': 'Nigeria', 'Total_Cases': 136030, 'Total_Deaths': 1632, 'Total_Recovered': 110449, 'Active_Cases': 23949, 'Total_Tests': 1302410, 'Population': 209154617}
{'_id': ObjectId('601c9889631cb040aefa5521'), 'id': 74, 'Country': 'Paraguay', 'Total_Cases': 136023, 'Total_Deaths': 2779, 'Total_Recovered': 111667, 'Active_Cases': 21577, 'Total_Tests': 666265, 'Population': 7184651}
{'_id': ObjectId('601c9889631cb040aefa5522'), 'id': 75, 'Country': 'Oman', 'Total_Cases': 135041, 'Total_Deaths': 1532, 'Total_Recovered': 127266, 'Active_Cases': 6243, 'Total_Tests': 1550000, 'Population': 5183235}
{'_id': ObjectId('601c9889631cb040aefa5523'), 'id': 76, 'Country': 'Venezuela', 'Total_Cases': 128315, 'Total_Deaths': 1209, 'Total_Recovered': 120204, 'Active_Cases': 6902, 'Total_Tests': 2683167, 'Population': 28387609}
{'_id': ObjectId('601c9889631cb040aefa5524'), 'id': 77, 'Country': 'Bosnia and Herzegovina', 'Total_Cases': 122828, 'Total_Deaths': 4745, 'Total_Recovered': 96096, 'Active_Cases': 21987, 'Total_Tests': 603521, 'Population': 3268556}
{'_id': ObjectId('601c9889631cb040aefa5525'), 'id': 78, 'Country': 'Libya', 'Total_Cases': 122013, 'Total_Deaths': 1919, 'Total_Recovered': 102448, 'Active_Cases': 17646, 'Total_Tests': 666388, 'Population': 6926824}
{'_id': ObjectId('601c9889631cb040aefa5526'), 'id': 80, 'Country': 'Bahrain', 'Total_Cases': 105496, 'Total_Deaths': 377, 'Total_Recovered': 99939, 'Active_Cases': 5180, 'Total_Tests': 2766759, 'Population': 1736248}
{'_id': ObjectId('601c9889631cb040aefa5527'), 'id': 81, 'Country': 'Kenya', 'Total_Cases': 101339, 'Total_Deaths': 1773, 'Total_Recovered': 84143, 'Active_Cases': 15423, 'Total_Tests': 1200302, 'Population': 54471503}
{'_id': ObjectId('601c9889631cb040aefa5528'), 'id': 82, 'Country': 'North Macedonia', 'Total_Cases': 93882, 'Total_Deaths': 2900, 'Total_Recovered': 83424, 'Active_Cases': 7558, 'Total_Tests': 463957, 'Population': 2083323}
{'_id': ObjectId('601c9889631cb040aefa5529'), 'id': 83, 'Country': 'Kyrgyzstan', 'Total_Cases': 84832, 'Total_Deaths': 1418, 'Total_Recovered': 81334, 'Active_Cases': 2080, 'Total_Tests': 670041, 'Population': 6588053}
{'_id': ObjectId('601c9889631cb040aefa552a'), 'id': 84, 'Country': 'Albania', 'Total_Cases': 81993, 'Total_Deaths': 1418, 'Total_Recovered': 49543, 'Active_Cases': 31032, 'Total_Tests': 368733, 'Population': 2875914}
{'_id': ObjectId('601c9889631cb040aefa552b'), 'id': 85, 'Country': 'S. Korea', 'Total_Cases': 79762, 'Total_Deaths': 1448, 'Total_Recovered': 69704, 'Active_Cases': 8610, 'Total_Tests': 5803095, 'Population': 51295601}
{'_id': ObjectId('601c9889631cb040aefa552c'), 'id': 86, 'Country': 'Uzbekistan', 'Total_Cases': 78916, 'Total_Deaths': 621, 'Total_Recovered': 77368, 'Active_Cases': 927, 'Total_Tests': 1377915, 'Population': 33757329}
{'_id': ObjectId('601c9889631cb040aefa552d'), 'id': 87, 'Country': 'Latvia', 'Total_Cases': 69400, 'Total_Deaths': 1281, 'Total_Recovered': 55708, 'Active_Cases': 12411, 'Total_Tests': 1214849, 'Population': 1873637}
{'_id': ObjectId('601c9889631cb040aefa552e'), 'id': 88, 'Country': 'Ghana', 'Total_Cases': 69255, 'Total_Deaths': 440, 'Total_Recovered': 62729, 'Active_Cases': 6086, 'Total_Tests': 792936, 'Population': 31456669}
{'_id': ObjectId('601c9889631cb040aefa552f'), 'id': 89, 'Country': 'Sri Lanka', 'Total_Cases': 67115, 'Total_Deaths': 339, 'Total_Recovered': 60567, 'Active_Cases': 6209, 'Total_Tests': 1762354, 'Population': 21466904}
{'_id': ObjectId('601c9889631cb040aefa5530'), 'id': 90, 'Country': 'Norway', 'Total_Cases': 64212, 'Total_Deaths': 582, 'Total_Recovered': 57004, 'Active_Cases': 6626, 'Total_Tests': 3472029, 'Population': 5446522}
{'_id': ObjectId('601c9889631cb040aefa5531'), 'id': 91, 'Country': 'Montenegro', 'Total_Cases': 63633, 'Total_Deaths': 826, 'Total_Recovered': 55349, 'Active_Cases': 7458, 'Total_Tests': 236300, 'Population': 628114}
{'_id': ObjectId('601c9889631cb040aefa5532'), 'id': 92, 'Country': 'Singapore', 'Total_Cases': 59624, 'Total_Deaths': 29, 'Total_Recovered': 59348, 'Active_Cases': 247, 'Total_Tests': 6557144, 'Population': 5877781}
{'_id': ObjectId('601c9889631cb040aefa5533'), 'id': 93, 'Country': 'Zambia', 'Total_Cases': 59003, 'Total_Deaths': 812, 'Total_Recovered': 51305, 'Active_Cases': 6886, 'Total_Tests': 945112, 'Population': 18687141}
{'_id': ObjectId('601c9889631cb040aefa5534'), 'id': 94, 'Country': 'El Salvador', 'Total_Cases': 55821, 'Total_Deaths': 1653, 'Total_Recovered': 49944, 'Active_Cases': 4224, 'Total_Tests': 707896, 'Population': 6505754}

In [18]:
# Display the MongoDB records created above
data_iterate = db.collection_stringency.find()

for record in data_iterate:
    print(record)

{'_id': ObjectId('601c9889631cb040aefa5649'), 'Country': 'Aruba', 'Code': 'ABW', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-03', 'End_Period_Stringency': 37.04}
{'_id': ObjectId('601c9889631cb040aefa564a'), 'Country': 'Afghanistan', 'Code': 'AFG', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 5.56}
{'_id': ObjectId('601c9889631cb040aefa564b'), 'Country': 'Angola', 'Code': 'AGO', 'Start_Period': '2020-03-22', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-10-31', 'End_Period_Stringency': 65.74}
{'_id': ObjectId('601c9889631cb040aefa564c'), 'Country': 'Anguilla', 'Code': 'AIA', 'Start_Period': '2020-03-27', 'Start_Period_Stringency': 71.3, 'End_Period': '2020-09-27', 'End_Period_Stringency': 24.07}
{'_id': ObjectId('601c9889631cb040aefa564d'), 'Country': 'Albania', 'Code': 'ALB', 'Start_Period': '2020-03-09', 'Start_Period_Stringency': 36.11, 'End_Period': '2020-11-08', 'End_Period_Stringency': 50.93}
{'_id': ObjectId('601c9889631cb040aefa564e'), 'Country': 'Andorra', 'Code': 'AND', 'Start_Period': '2020-03-03', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 59.26}
{'_id': ObjectId('601c9889631cb040aefa564f'), 'Country': 'United Arab Emirates', 'Code': 'ARE', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 47.22}
{'_id': ObjectId('601c9889631cb040aefa5650'), 'Country': 'Argentina', 'Code': 'ARG', 'Start_Period': '2020-03-04', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-05', 'End_Period_Stringency': 81.94}
{'_id': ObjectId('601c9889631cb040aefa5651'), 'Country': 'Australia', 'Code': 'AUS', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-04', 'End_Period_Stringency': 47.69}
{'_id': ObjectId('601c9889631cb040aefa5652'), 'Country': 'Austria', 'Code': 'AUT', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 75.0}
{'_id': ObjectId('601c9889631cb040aefa5653'), 'Country': 'Azerbaijan', 'Code': 'AZE', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-06', 'End_Period_Stringency': 64.35}
{'_id': ObjectId('601c9889631cb040aefa5654'), 'Country': 'Burundi', 'Code': 'BDI', 'Start_Period': '2020-04-01', 'Start_Period_Stringency': 13.89, 'End_Period': '2020-11-09', 'End_Period_Stringency': 14.81}
{'_id': ObjectId('601c9889631cb040aefa5655'), 'Country': 'Belgium', 'Code': 'BEL', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 65.74}
{'_id': ObjectId('601c9889631cb040aefa5656'), 'Country': 'Benin', 'Code': 'BEN', 'Start_Period': '2020-03-17', 'Start_Period_Stringency': 27.78, 'End_Period': '2020-11-08', 'End_Period_Stringency': 27.78}
{'_id': ObjectId('601c9889631cb040aefa5657'), 'Country': 'Burkina Faso', 'Code': 'BFA', 'Start_Period': '2020-03-11', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-02', 'End_Period_Stringency': 22.22}
{'_id': ObjectId('601c9889631cb040aefa5658'), 'Country': 'Bangladesh', 'Code': 'BGD', 'Start_Period': '2020-03-03', 'Start_Period_Stringency': 13.89, 'End_Period': '2020-11-09', 'End_Period_Stringency': 80.09}
{'_id': ObjectId('601c9889631cb040aefa5659'), 'Country': 'Bulgaria', 'Code': 'BGR', 'Start_Period': '2020-03-08', 'Start_Period_Stringency': 21.3, 'End_Period': '2020-11-09', 'End_Period_Stringency': 48.15}
{'_id': ObjectId('601c9889631cb040aefa565a'), 'Country': 'Bahrain', 'Code': 'BHR', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-05', 'End_Period_Stringency': 58.33}
{'_id': ObjectId('601c9889631cb040aefa565b'), 'Country': 'Bosnia and Herzegovina', 'Code': 'BIH', 'Start_Period': '2020-03-06', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-05', 'End_Period_Stringency': 40.74}
{'_id': ObjectId('601c9889631cb040aefa565c'), 'Country': 'Belarus', 'Code': 'BLR', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-05', 'End_Period_Stringency': 22.22}
{'_id': ObjectId('601c9889631cb040aefa565d'), 'Country': 'Belize', 'Code': 'BLZ', 'Start_Period': '2020-03-24', 'Start_Period_Stringency': 54.63, 'End_Period': '2020-11-10', 'End_Period_Stringency': 66.67}
{'_id': ObjectId('601c9889631cb040aefa565e'), 'Country': 'Bermuda', 'Code': 'BMU', 'Start_Period': '2020-03-20', 'Start_Period_Stringency': 48.15, 'End_Period': '2020-11-09', 'End_Period_Stringency': 37.96}
{'_id': ObjectId('601c9889631cb040aefa565f'), 'Country': 'Bolivia', 'Code': 'BOL', 'Start_Period': '2020-03-12', 'Start_Period_Stringency': 30.56, 'End_Period': '2020-11-05', 'End_Period_Stringency': 81.48}
{'_id': ObjectId('601c9889631cb040aefa5660'), 'Country': 'Brazil', 'Code': 'BRA', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 57.87}
{'_id': ObjectId('601c9889631cb040aefa5661'), 'Country': 'Barbados', 'Code': 'BRB', 'Start_Period': '2020-03-18', 'Start_Period_Stringency': 38.89, 'End_Period': '2020-11-10', 'End_Period_Stringency': 40.74}
{'_id': ObjectId('601c9889631cb040aefa5662'), 'Country': 'Brunei', 'Code': 'BRN', 'Start_Period': '2020-03-10', 'Start_Period_Stringency': 19.44, 'End_Period': '2020-11-09', 'End_Period_Stringency': 35.19}
{'_id': ObjectId('601c9889631cb040aefa5663'), 'Country': 'Bhutan', 'Code': 'BTN', 'Start_Period': '2020-03-06', 'Start_Period_Stringency': 31.48, 'End_Period': '2020-11-09', 'End_Period_Stringency': 75.0}
{'_id': ObjectId('601c9889631cb040aefa5664'), 'Country': 'Botswana', 'Code': 'BWA', 'Start_Period': '2020-04-01', 'Start_Period_Stringency': 61.11, 'End_Period': '2020-11-08', 'End_Period_Stringency': 52.78}
{'_id': ObjectId('601c9889631cb040aefa5665'), 'Country': 'Central African Republic', 'Code': 'CAF', 'Start_Period': '2020-03-16', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-10-26', 'End_Period_Stringency': 31.48}
{'_id': ObjectId('601c9889631cb040aefa5666'), 'Country': 'Canada', 'Code': 'CAN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 60.65}
{'_id': ObjectId('601c9889631cb040aefa5667'), 'Country': 'Switzerland', 'Code': 'CHE', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 50.93}
{'_id': ObjectId('601c9889631cb040aefa5668'), 'Country': 'Chile', 'Code': 'CHL', 'Start_Period': '2020-03-04', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-03', 'End_Period_Stringency': 76.39}
{'_id': ObjectId('601c9889631cb040aefa5669'), 'Country': 'China', 'Code': 'CHN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-10-29', 'End_Period_Stringency': 81.94}
{'_id': ObjectId('601c9889631cb040aefa566a'), 'Country': "Cote d'Ivoire", 'Code': 'CIV', 'Start_Period': '2020-03-12', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-10-29', 'End_Period_Stringency': 26.85}
{'_id': ObjectId('601c9889631cb040aefa566b'), 'Country': 'Cameroon', 'Code': 'CMR', 'Start_Period': '2020-03-07', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-10', 'End_Period_Stringency': 45.37}
{'_id': ObjectId('601c9889631cb040aefa566c'), 'Country': 'Democratic Republic of Congo', 'Code': 'COD', 'Start_Period': '2020-03-11', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-10-26', 'End_Period_Stringency': 45.37}
{'_id': ObjectId('601c9889631cb040aefa566d'), 'Country': 'Congo', 'Code': 'COG', 'Start_Period': '2020-03-16', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-08', 'End_Period_Stringency': 47.22}
{'_id': ObjectId('601c9889631cb040aefa566e'), 'Country': 'Colombia', 'Code': 'COL', 'Start_Period': '2020-03-07', 'Start_Period_Stringency': 12.04, 'End_Period': '2020-11-08', 'End_Period_Stringency': 65.74}
{'_id': ObjectId('601c9889631cb040aefa566f'), 'Country': 'Cape Verde', 'Code': 'CPV', 'Start_Period': '2020-03-21', 'Start_Period_Stringency': 43.52, 'End_Period': '2020-11-08', 'End_Period_Stringency': 71.3}
{'_id': ObjectId('601c9889631cb040aefa5670'), 'Country': 'Costa Rica', 'Code': 'CRI', 'Start_Period': '2020-03-07', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-01', 'End_Period_Stringency': 55.56}
{'_id': ObjectId('601c9889631cb040aefa5671'), 'Country': 'Cuba', 'Code': 'CUB', 'Start_Period': '2020-03-12', 'Start_Period_Stringency': 13.89, 'End_Period': '2020-11-05', 'End_Period_Stringency': 57.41}
{'_id': ObjectId('601c9889631cb040aefa5672'), 'Country': 'Cayman Islands', 'Code': 'CYM', 'Start_Period': '2020-03-20', 'Start_Period_Stringency': 47.22, 'End_Period': '2020-07-01', 'End_Period_Stringency': 51.39}
{'_id': ObjectId('601c9889631cb040aefa5673'), 'Country': 'Cyprus', 'Code': 'CYP', 'Start_Period': '2020-03-10', 'Start_Period_Stringency': 22.22, 'End_Period': '2020-11-02', 'End_Period_Stringency': 63.89}
{'_id': ObjectId('601c9889631cb040aefa5674'), 'Country': 'Czech Republic', 'Code': 'CZE', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-07', 'End_Period_Stringency': 73.15}
{'_id': ObjectId('601c9889631cb040aefa5675'), 'Country': 'Germany', 'Code': 'DEU', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 59.26}
{'_id': ObjectId('601c9889631cb040aefa5676'), 'Country': 'Djibouti', 'Code': 'DJI', 'Start_Period': '2020-03-19', 'Start_Period_Stringency': 33.33, 'End_Period': '2020-11-08', 'End_Period_Stringency': 38.89}
{'_id': ObjectId('601c9889631cb040aefa5677'), 'Country': 'Dominica', 'Code': 'DMA', 'Start_Period': '2020-03-23', 'Start_Period_Stringency': 25.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 27.78}
{'_id': ObjectId('601c9889631cb040aefa5678'), 'Country': 'Denmark', 'Code': 'DNK', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 39.81}
{'_id': ObjectId('601c9889631cb040aefa5679'), 'Country': 'Dominican Republic', 'Code': 'DOM', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 64.81}
{'_id': ObjectId('601c9889631cb040aefa567a'), 'Country': 'Algeria', 'Code': 'DZA', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 75.0}
{'_id': ObjectId('601c9889631cb040aefa567b'), 'Country': 'Ecuador', 'Code': 'ECU', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 50.0}
{'_id': ObjectId('601c9889631cb040aefa567c'), 'Country': 'Egypt', 'Code': 'EGY', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 60.19}
{'_id': ObjectId('601c9889631cb040aefa567d'), 'Country': 'Eritrea', 'Code': 'ERI', 'Start_Period': '2020-03-22', 'Start_Period_Stringency': 22.22, 'End_Period': '2020-11-02', 'End_Period_Stringency': 81.48}
{'_id': ObjectId('601c9889631cb040aefa567e'), 'Country': 'Spain', 'Code': 'ESP', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-04', 'End_Period_Stringency': 71.3}
{'_id': ObjectId('601c9889631cb040aefa567f'), 'Country': 'Estonia', 'Code': 'EST', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 22.22}
{'_id': ObjectId('601c9889631cb040aefa5680'), 'Country': 'Ethiopia', 'Code': 'ETH', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 2.78, 'End_Period': '2020-11-09', 'End_Period_Stringency': 57.41}
{'_id': ObjectId('601c9889631cb040aefa5681'), 'Country': 'Finland', 'Code': 'FIN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 40.74}
{'_id': ObjectId('601c9889631cb040aefa5682'), 'Country': 'Fiji', 'Code': 'FJI', 'Start_Period': '2020-01-30', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-09', 'End_Period_Stringency': 45.37}
{'_id': ObjectId('601c9889631cb040aefa5683'), 'Country': 'Falkland Islands', 'Code': 'FLK', 'Start_Period': '2020-04-04', 'Start_Period_Stringency': 68.52, 'End_Period': '2020-09-27', 'End_Period_Stringency': 19.44}
{'_id': ObjectId('601c9889631cb040aefa5684'), 'Country': 'France', 'Code': 'FRA', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 78.7}
{'_id': ObjectId('601c9889631cb040aefa5685'), 'Country': 'Gabon', 'Code': 'GAB', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 33.33, 'End_Period': '2020-11-09', 'End_Period_Stringency': 69.44}
{'_id': ObjectId('601c9889631cb040aefa5686'), 'Country': 'United Kingdom', 'Code': 'GBR', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-05', 'End_Period_Stringency': 75.0}
{'_id': ObjectId('601c9889631cb040aefa5687'), 'Country': 'Georgia', 'Code': 'GEO', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 55.56}
{'_id': ObjectId('601c9889631cb040aefa5688'), 'Country': 'Ghana', 'Code': 'GHA', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 8.33, 'End_Period': '2020-11-09', 'End_Period_Stringency': 38.89}
{'_id': ObjectId('601c9889631cb040aefa5689'), 'Country': 'Gibraltar', 'Code': 'GIB', 'Start_Period': '2020-03-20', 'Start_Period_Stringency': 73.15, 'End_Period': '2020-09-01', 'End_Period_Stringency': 44.44}
{'_id': ObjectId('601c9889631cb040aefa568a'), 'Country': 'Guinea', 'Code': 'GIN', 'Start_Period': '2020-03-14', 'Start_Period_Stringency': 13.89, 'End_Period': '2020-11-09', 'End_Period_Stringency': 35.65}
{'_id': ObjectId('601c9889631cb040aefa568b'), 'Country': 'Gambia', 'Code': 'GMB', 'Start_Period': '2020-03-18', 'Start_Period_Stringency': 45.37, 'End_Period': '2020-11-09', 'End_Period_Stringency': 56.48}
{'_id': ObjectId('601c9889631cb040aefa568c'), 'Country': 'Greece', 'Code': 'GRC', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-10-29', 'End_Period_Stringency': 59.72}
{'_id': ObjectId('601c9889631cb040aefa568d'), 'Country': 'Greenland', 'Code': 'GRL', 'Start_Period': '2020-03-20', 'Start_Period_Stringency': 72.22, 'End_Period': '2020-11-08', 'End_Period_Stringency': 34.26}
{'_id': ObjectId('601c9889631cb040aefa568e'), 'Country': 'Guatemala', 'Code': 'GTM', 'Start_Period': '2020-02-17', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-01', 'End_Period_Stringency': 49.54}
{'_id': ObjectId('601c9889631cb040aefa568f'), 'Country': 'Guam', 'Code': 'GUM', 'Start_Period': '2020-03-19', 'Start_Period_Stringency': 55.56, 'End_Period': '2020-11-09', 'End_Period_Stringency': 62.96}
{'_id': ObjectId('601c9889631cb040aefa5690'), 'Country': 'Guyana', 'Code': 'GUY', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 25.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 72.22}
{'_id': ObjectId('601c9889631cb040aefa5691'), 'Country': 'Hong Kong', 'Code': 'HKG', 'Start_Period': '2020-01-31', 'Start_Period_Stringency': 49.07, 'End_Period': '2020-11-03', 'End_Period_Stringency': 51.85}
{'_id': ObjectId('601c9889631cb040aefa5692'), 'Country': 'Honduras', 'Code': 'HND', 'Start_Period': '2020-03-12', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-08', 'End_Period_Stringency': 75.93}
{'_id': ObjectId('601c9889631cb040aefa5693'), 'Country': 'Croatia', 'Code': 'HRV', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-07', 'End_Period_Stringency': 31.48}
{'_id': ObjectId('601c9889631cb040aefa5694'), 'Country': 'Haiti', 'Code': 'HTI', 'Start_Period': '2020-03-20', 'Start_Period_Stringency': 82.41, 'End_Period': '2020-11-09', 'End_Period_Stringency': 43.52}
{'_id': ObjectId('601c9889631cb040aefa5695'), 'Country': 'Hungary', 'Code': 'HUN', 'Start_Period': '2020-03-04', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-09', 'End_Period_Stringency': 57.41}
{'_id': ObjectId('601c9889631cb040aefa5696'), 'Country': 'Indonesia', 'Code': 'IDN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 50.46}
{'_id': ObjectId('601c9889631cb040aefa5697'), 'Country': 'India', 'Code': 'IND', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-10', 'End_Period_Stringency': 61.57}
{'_id': ObjectId('601c9889631cb040aefa5698'), 'Country': 'Ireland', 'Code': 'IRL', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 81.48}
{'_id': ObjectId('601c9889631cb040aefa5699'), 'Country': 'Iran', 'Code': 'IRN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-10', 'End_Period_Stringency': 68.06}
{'_id': ObjectId('601c9889631cb040aefa569a'), 'Country': 'Iraq', 'Code': 'IRQ', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-10-29', 'End_Period_Stringency': 51.85}
{'_id': ObjectId('601c9889631cb040aefa569b'), 'Country': 'Iceland', 'Code': 'ISL', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-10-28', 'End_Period_Stringency': 45.37}
{'_id': ObjectId('601c9889631cb040aefa569c'), 'Country': 'Israel', 'Code': 'ISR', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 65.74}
{'_id': ObjectId('601c9889631cb040aefa569d'), 'Country': 'Italy', 'Code': 'ITA', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 66.67}
{'_id': ObjectId('601c9889631cb040aefa569e'), 'Country': 'Jamaica', 'Code': 'JAM', 'Start_Period': '2020-03-12', 'Start_Period_Stringency': 30.56, 'End_Period': '2020-11-09', 'End_Period_Stringency': 67.59}
{'_id': ObjectId('601c9889631cb040aefa569f'), 'Country': 'Jordan', 'Code': 'JOR', 'Start_Period': '2020-03-03', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 75.93}
{'_id': ObjectId('601c9889631cb040aefa56a0'), 'Country': 'Japan', 'Code': 'JPN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-07', 'End_Period_Stringency': 38.89}
{'_id': ObjectId('601c9889631cb040aefa56a1'), 'Country': 'Kazakhstan', 'Code': 'KAZ', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 19.44, 'End_Period': '2020-11-08', 'End_Period_Stringency': 68.06}
{'_id': ObjectId('601c9889631cb040aefa56a2'), 'Country': 'Kenya', 'Code': 'KEN', 'Start_Period': '2020-03-06', 'Start_Period_Stringency': 13.89, 'End_Period': '2020-10-31', 'End_Period_Stringency': 68.52}
{'_id': ObjectId('601c9889631cb040aefa56a3'), 'Country': 'Kyrgyzstan', 'Code': 'KGZ', 'Start_Period': '2020-03-19', 'Start_Period_Stringency': 63.89, 'End_Period': '2020-11-09', 'End_Period_Stringency': 57.87}
{'_id': ObjectId('601c9889631cb040aefa56a4'), 'Country': 'Cambodia', 'Code': 'KHM', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 34.26}
{'_id': ObjectId('601c9889631cb040aefa56a5'), 'Country': 'South Korea', 'Code': 'KOR', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 44.44}
{'_id': ObjectId('601c9889631cb040aefa56a6'), 'Country': 'Kuwait', 'Code': 'KWT', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 62.96}
{'_id': ObjectId('601c9889631cb040aefa56a7'), 'Country': 'Laos', 'Code': 'LAO', 'Start_Period': '2020-03-25', 'Start_Period_Stringency': 25.93, 'End_Period': '2020-11-02', 'End_Period_Stringency': 36.11}
{'_id': ObjectId('601c9889631cb040aefa56a8'), 'Country': 'Lebanon', 'Code': 'LBN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-10-27', 'End_Period_Stringency': 59.26}

In [19]:
# Display the MongoDB records created above
data_iterate = db.collection_xsdeath.find()

for record in data_iterate:
    print(record)

{'_id': ObjectId('601c9889631cb040aefa56fe'), 'Jurisdiction': 'Alaska', 'deaths': '96', 'expected_deaths': '96', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa56ff'), 'Jurisdiction': 'Arizona', 'deaths': '1938', 'expected_deaths': '1219', 'excess_deaths': '98', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5700'), 'Jurisdiction': 'Arkansas', 'deaths': '759', 'expected_deaths': '676', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5701'), 'Jurisdiction': 'California', 'deaths': '6252', 'expected_deaths': '5819', 'excess_deaths': '925', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5702'), 'Jurisdiction': 'Colorado', 'deaths': '993', 'expected_deaths': '829', 'excess_deaths': '98', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5703'), 'Jurisdiction': 'Connecticut', 'deaths': '941', 'expected_deaths': '683', 'excess_deaths': '82', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5704'), 'Jurisdiction': 'Delaware', 'deaths': '282', 'expected_deaths': '206', 'excess_deaths': '95', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5705'), 'Jurisdiction': 'District of Columbia', 'deaths': '99', 'expected_deaths': '99', 'excess_deaths': '94', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5706'), 'Jurisdiction': 'Florida', 'deaths': '5682', 'expected_deaths': '4223', 'excess_deaths': '931', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5707'), 'Jurisdiction': 'Georgia', 'deaths': '2029', 'expected_deaths': '1783', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5708'), 'Jurisdiction': 'Hawaii', 'deaths': '275', 'expected_deaths': '249', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5709'), 'Jurisdiction': 'Idaho', 'deaths': '362', 'expected_deaths': '298', 'excess_deaths': '80', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa570a'), 'Jurisdiction': 'Illinois', 'deaths': '3057', 'expected_deaths': '2396', 'excess_deaths': '964', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa570b'), 'Jurisdiction': 'Indiana', 'deaths': '1616', 'expected_deaths': '1451', 'excess_deaths': '94', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa570c'), 'Jurisdiction': 'Iowa', 'deaths': '697', 'expected_deaths': '688', 'excess_deaths': '96', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa570d'), 'Jurisdiction': 'Kansas', 'deaths': '606', 'expected_deaths': '598', 'excess_deaths': '86', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa570e'), 'Jurisdiction': 'Kentucky', 'deaths': '997', 'expected_deaths': '997', 'excess_deaths': '92', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa570f'), 'Jurisdiction': 'Louisiana', 'deaths': '982', 'expected_deaths': '970', 'excess_deaths': '94', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5710'), 'Jurisdiction': 'Maine', 'deaths': '331', 'expected_deaths': '311', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5711'), 'Jurisdiction': 'Maryland', 'deaths': '983', 'expected_deaths': '998', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5712'), 'Jurisdiction': 'Massachusetts', 'deaths': '998', 'expected_deaths': '994', 'excess_deaths': '939', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5713'), 'Jurisdiction': 'Michigan', 'deaths': '3398', 'expected_deaths': '2131', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5714'), 'Jurisdiction': 'Minnesota', 'deaths': '994', 'expected_deaths': '957', 'excess_deaths': '96', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5715'), 'Jurisdiction': 'Mississippi', 'deaths': '903', 'expected_deaths': '719', 'excess_deaths': '96', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5716'), 'Jurisdiction': 'Missouri', 'deaths': '1420', 'expected_deaths': '1334', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5717'), 'Jurisdiction': 'Montana', 'deaths': '238', 'expected_deaths': '229', 'excess_deaths': '41', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5718'), 'Jurisdiction': 'Nebraska', 'deaths': '382', 'expected_deaths': '377', 'excess_deaths': '70', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5719'), 'Jurisdiction': 'Nevada', 'deaths': '635', 'expected_deaths': '538', 'excess_deaths': '99', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa571a'), 'Jurisdiction': 'New Hampshire', 'deaths': '302', 'expected_deaths': '277', 'excess_deaths': '91', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa571b'), 'Jurisdiction': 'New Jersey', 'deaths': '4750', 'expected_deaths': '1627', 'excess_deaths': '925', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa571c'), 'Jurisdiction': 'New Mexico', 'deaths': '463', 'expected_deaths': '403', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa571d'), 'Jurisdiction': 'New York', 'deaths': '4524', 'expected_deaths': '2211', 'excess_deaths': '936', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa571e'), 'Jurisdiction': 'New York City', 'deaths': '992', 'expected_deaths': '999', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa571f'), 'Jurisdiction': 'North Carolina', 'deaths': '2086', 'expected_deaths': '1981', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5720'), 'Jurisdiction': 'North Dakota', 'deaths': '92', 'expected_deaths': '137', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5721'), 'Jurisdiction': 'Ohio', 'deaths': '2815', 'expected_deaths': '2696', 'excess_deaths': '89', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5722'), 'Jurisdiction': 'Oklahoma', 'deaths': '919', 'expected_deaths': '878', 'excess_deaths': '93', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5723'), 'Jurisdiction': 'Oregon', 'deaths': '797', 'expected_deaths': '780', 'excess_deaths': '87', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5724'), 'Jurisdiction': 'Pennsylvania', 'deaths': '3758', 'expected_deaths': '2971', 'excess_deaths': '919', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5725'), 'Jurisdiction': 'Rhode Island', 'deaths': '371', 'expected_deaths': '220', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5726'), 'Jurisdiction': 'South Carolina', 'deaths': '1358', 'expected_deaths': '997', 'excess_deaths': '95', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5727'), 'Jurisdiction': 'South Dakota', 'deaths': '193', 'expected_deaths': '171', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5728'), 'Jurisdiction': 'Tennessee', 'deaths': '1599', 'expected_deaths': '1506', 'excess_deaths': '98', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5729'), 'Jurisdiction': 'Texas', 'deaths': '6077', 'expected_deaths': '4243', 'excess_deaths': '929', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa572a'), 'Jurisdiction': 'US', 'deaths': '78897', 'expected_deaths': '60980', 'excess_deaths': '9754', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa572b'), 'Jurisdiction': 'Utah', 'deaths': '434', 'expected_deaths': '390', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa572c'), 'Jurisdiction': 'Vermont', 'deaths': '99', 'expected_deaths': '99', 'excess_deaths': '8', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa572d'), 'Jurisdiction': 'Virginia', 'deaths': '1673', 'expected_deaths': '1484', 'excess_deaths': '86', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa572e'), 'Jurisdiction': 'Washington', 'deaths': '1320', 'expected_deaths': '989', 'excess_deaths': '82', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa572f'), 'Jurisdiction': 'West Virginia', 'deaths': '538', 'expected_deaths': '531', 'excess_deaths': '8', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5730'), 'Jurisdiction': 'Wisconsin', 'deaths': '1243', 'expected_deaths': '997.5', 'excess_deaths': '97.5', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5731'), 'Jurisdiction': 'Wyoming', 'deaths': '99', 'expected_deaths': '99', 'excess_deaths': '8', 'Country': 'United States'}

In [20]:
# Display the MongoDB records created above
data_iterate = db.collection_country.find()

for record in data_iterate:
    print(record)

{'_id': ObjectId('601c9889631cb040aefa5594'), 'Code': 'ABW', 'Country': 'Aruba'}
{'_id': ObjectId('601c9889631cb040aefa5595'), 'Code': 'AFG', 'Country': 'Afghanistan'}
{'_id': ObjectId('601c9889631cb040aefa5596'), 'Code': 'AGO', 'Country': 'Angola'}
{'_id': ObjectId('601c9889631cb040aefa5597'), 'Code': 'AIA', 'Country': 'Anguilla'}
{'_id': ObjectId('601c9889631cb040aefa5598'), 'Code': 'ALB', 'Country': 'Albania'}
{'_id': ObjectId('601c9889631cb040aefa5599'), 'Code': 'AND', 'Country': 'Andorra'}
{'_id': ObjectId('601c9889631cb040aefa559a'), 'Code': 'ARE', 'Country': 'United Arab Emirates'}
{'_id': ObjectId('601c9889631cb040aefa559b'), 'Code': 'ARG', 'Country': 'Argentina'}
{'_id': ObjectId('601c9889631cb040aefa559c'), 'Code': 'AUS', 'Country': 'Australia'}
{'_id': ObjectId('601c9889631cb040aefa559d'), 'Code': 'AUT', 'Country': 'Austria'}
{'_id': ObjectId('601c9889631cb040aefa559e'), 'Code': 'AZE', 'Country': 'Azerbaijan'}
{'_id': ObjectId('601c9889631cb040aefa559f'), 'Code': 'BDI', 'Country': 'Burundi'}
{'_id': ObjectId('601c9889631cb040aefa55a0'), 'Code': 'BEL', 'Country': 'Belgium'}
{'_id': ObjectId('601c9889631cb040aefa55a1'), 'Code': 'BEN', 'Country': 'Benin'}
{'_id': ObjectId('601c9889631cb040aefa55a2'), 'Code': 'BFA', 'Country': 'Burkina Faso'}
{'_id': ObjectId('601c9889631cb040aefa55a3'), 'Code': 'BGD', 'Country': 'Bangladesh'}
{'_id': ObjectId('601c9889631cb040aefa55a4'), 'Code': 'BGR', 'Country': 'Bulgaria'}
{'_id': ObjectId('601c9889631cb040aefa55a5'), 'Code': 'BHR', 'Country': 'Bahrain'}
{'_id': ObjectId('601c9889631cb040aefa55a6'), 'Code': 'BIH', 'Country': 'Bosnia and Herzegovina'}
{'_id': ObjectId('601c9889631cb040aefa55a7'), 'Code': 'BLR', 'Country': 'Belarus'}
{'_id': ObjectId('601c9889631cb040aefa55a8'), 'Code': 'BLZ', 'Country': 'Belize'}
{'_id': ObjectId('601c9889631cb040aefa55a9'), 'Code': 'BMU', 'Country': 'Bermuda'}
{'_id': ObjectId('601c9889631cb040aefa55aa'), 'Code': 'BOL', 'Country': 'Bolivia'}
{'_id': ObjectId('601c9889631cb040aefa55ab'), 'Code': 'BRA', 'Country': 'Brazil'}
{'_id': ObjectId('601c9889631cb040aefa55ac'), 'Code': 'BRB', 'Country': 'Barbados'}
{'_id': ObjectId('601c9889631cb040aefa55ad'), 'Code': 'BRN', 'Country': 'Brunei'}
{'_id': ObjectId('601c9889631cb040aefa55ae'), 'Code': 'BTN', 'Country': 'Bhutan'}
{'_id': ObjectId('601c9889631cb040aefa55af'), 'Code': 'BWA', 'Country': 'Botswana'}
{'_id': ObjectId('601c9889631cb040aefa55b0'), 'Code': 'CAF', 'Country': 'Central African Republic'}
{'_id': ObjectId('601c9889631cb040aefa55b1'), 'Code': 'CAN', 'Country': 'Canada'}
{'_id': ObjectId('601c9889631cb040aefa55b2'), 'Code': 'CHE', 'Country': 'Switzerland'}
{'_id': ObjectId('601c9889631cb040aefa55b3'), 'Code': 'CHL', 'Country': 'Chile'}
{'_id': ObjectId('601c9889631cb040aefa55b4'), 'Code': 'CHN', 'Country': 'China'}
{'_id': ObjectId('601c9889631cb040aefa55b5'), 'Code': 'CIV', 'Country': "Cote d'Ivoire"}
{'_id': ObjectId('601c9889631cb040aefa55b6'), 'Code': 'CMR', 'Country': 'Cameroon'}
{'_id': ObjectId('601c9889631cb040aefa55b7'), 'Code': 'COD', 'Country': 'Democratic Republic of Congo'}
{'_id': ObjectId('601c9889631cb040aefa55b8'), 'Code': 'COG', 'Country': 'Congo'}
{'_id': ObjectId('601c9889631cb040aefa55b9'), 'Code': 'COL', 'Country': 'Colombia'}
{'_id': ObjectId('601c9889631cb040aefa55ba'), 'Code': 'CPV', 'Country': 'Cape Verde'}
{'_id': ObjectId('601c9889631cb040aefa55bb'), 'Code': 'CRI', 'Country': 'Costa Rica'}
{'_id': ObjectId('601c9889631cb040aefa55bc'), 'Code': 'CUB', 'Country': 'Cuba'}
{'_id': ObjectId('601c9889631cb040aefa55bd'), 'Code': 'CYM', 'Country': 'Cayman Islands'}
{'_id': ObjectId('601c9889631cb040aefa55be'), 'Code': 'CYP', 'Country': 'Cyprus'}
{'_id': ObjectId('601c9889631cb040aefa55bf'), 'Code': 'CZE', 'Country': 'Czech Republic'}
{'_id': ObjectId('601c9889631cb040aefa55c0'), 'Code': 'DEU', 'Country': 'Germany'}
{'_id': ObjectId('601c9889631cb040aefa55c1'), 'Code': 'DJI', 'Country': 'Djibouti'}
{'_id': ObjectId('601c9889631cb040aefa55c2'), 'Code': 'DMA', 'Country': 'Dominica'}
{'_id': ObjectId('601c9889631cb040aefa55c3'), 'Code': 'DNK', 'Country': 'Denmark'}
{'_id': ObjectId('601c9889631cb040aefa55c4'), 'Code': 'DOM', 'Country': 'Dominican Republic'}
{'_id': ObjectId('601c9889631cb040aefa55c5'), 'Code': 'DZA', 'Country': 'Algeria'}
{'_id': ObjectId('601c9889631cb040aefa55c6'), 'Code': 'ECU', 'Country': 'Ecuador'}
{'_id': ObjectId('601c9889631cb040aefa55c7'), 'Code': 'EGY', 'Country': 'Egypt'}
{'_id': ObjectId('601c9889631cb040aefa55c8'), 'Code': 'ERI', 'Country': 'Eritrea'}
{'_id': ObjectId('601c9889631cb040aefa55c9'), 'Code': 'ESP', 'Country': 'Spain'}
{'_id': ObjectId('601c9889631cb040aefa55ca'), 'Code': 'EST', 'Country': 'Estonia'}
{'_id': ObjectId('601c9889631cb040aefa55cb'), 'Code': 'ETH', 'Country': 'Ethiopia'}
{'_id': ObjectId('601c9889631cb040aefa55cc'), 'Code': 'FIN', 'Country': 'Finland'}
{'_id': ObjectId('601c9889631cb040aefa55cd'), 'Code': 'FJI', 'Country': 'Fiji'}
{'_id': ObjectId('601c9889631cb040aefa55ce'), 'Code': 'FLK', 'Country': 'Falkland Islands'}
{'_id': ObjectId('601c9889631cb040aefa55cf'), 'Code': 'FRA', 'Country': 'France'}
{'_id': ObjectId('601c9889631cb040aefa55d0'), 'Code': 'GAB', 'Country': 'Gabon'}
{'_id': ObjectId('601c9889631cb040aefa55d1'), 'Code': 'GBR', 'Country': 'United Kingdom'}
{'_id': ObjectId('601c9889631cb040aefa55d2'), 'Code': 'GEO', 'Country': 'Georgia'}
{'_id': ObjectId('601c9889631cb040aefa55d3'), 'Code': 'GHA', 'Country': 'Ghana'}
{'_id': ObjectId('601c9889631cb040aefa55d4'), 'Code': 'GIB', 'Country': 'Gibraltar'}
{'_id': ObjectId('601c9889631cb040aefa55d5'), 'Code': 'GIN', 'Country': 'Guinea'}
{'_id': ObjectId('601c9889631cb040aefa55d6'), 'Code': 'GMB', 'Country': 'Gambia'}
{'_id': ObjectId('601c9889631cb040aefa55d7'), 'Code': 'GRC', 'Country': 'Greece'}
{'_id': ObjectId('601c9889631cb040aefa55d8'), 'Code': 'GRL', 'Country': 'Greenland'}
{'_id': ObjectId('601c9889631cb040aefa55d9'), 'Code': 'GTM', 'Country': 'Guatemala'}
{'_id': ObjectId('601c9889631cb040aefa55da'), 'Code': 'GUM', 'Country': 'Guam'}
{'_id': ObjectId('601c9889631cb040aefa55db'), 'Code': 'GUY', 'Country': 'Guyana'}
{'_id': ObjectId('601c9889631cb040aefa55dc'), 'Code': 'HKG', 'Country': 'Hong Kong'}
{'_id': ObjectId('601c9889631cb040aefa55dd'), 'Code': 'HND', 'Country': 'Honduras'}
{'_id': ObjectId('601c9889631cb040aefa55de'), 'Code': 'HRV', 'Country': 'Croatia'}
{'_id': ObjectId('601c9889631cb040aefa55df'), 'Code': 'HTI', 'Country': 'Haiti'}
{'_id': ObjectId('601c9889631cb040aefa55e0'), 'Code': 'HUN', 'Country': 'Hungary'}
{'_id': ObjectId('601c9889631cb040aefa55e1'), 'Code': 'IDN', 'Country': 'Indonesia'}
{'_id': ObjectId('601c9889631cb040aefa55e2'), 'Code': 'IND', 'Country': 'India'}
{'_id': ObjectId('601c9889631cb040aefa55e3'), 'Code': 'IRL', 'Country': 'Ireland'}
{'_id': ObjectId('601c9889631cb040aefa55e4'), 'Code': 'IRN', 'Country': 'Iran'}
{'_id': ObjectId('601c9889631cb040aefa55e5'), 'Code': 'IRQ', 'Country': 'Iraq'}
{'_id': ObjectId('601c9889631cb040aefa55e6'), 'Code': 'ISL', 'Country': 'Iceland'}
{'_id': ObjectId('601c9889631cb040aefa55e7'), 'Code': 'ISR', 'Country': 'Israel'}
{'_id': ObjectId('601c9889631cb040aefa55e8'), 'Code': 'ITA', 'Country': 'Italy'}
{'_id': ObjectId('601c9889631cb040aefa55e9'), 'Code': 'JAM', 'Country': 'Jamaica'}
{'_id': ObjectId('601c9889631cb040aefa55ea'), 'Code': 'JOR', 'Country': 'Jordan'}
{'_id': ObjectId('601c9889631cb040aefa55eb'), 'Code': 'JPN', 'Country': 'Japan'}
{'_id': ObjectId('601c9889631cb040aefa55ec'), 'Code': 'KAZ', 'Country': 'Kazakhstan'}
{'_id': ObjectId('601c9889631cb040aefa55ed'), 'Code': 'KEN', 'Country': 'Kenya'}
{'_id': ObjectId('601c9889631cb040aefa55ee'), 'Code': 'KGZ', 'Country': 'Kyrgyzstan'}
{'_id': ObjectId('601c9889631cb040aefa55ef'), 'Code': 'KHM', 'Country': 'Cambodia'}
{'_id': ObjectId('601c9889631cb040aefa55f0'), 'Code': 'KOR', 'Country': 'South Korea'}
{'_id': ObjectId('601c9889631cb040aefa55f1'), 'Code': 'KWT', 'Country': 'Kuwait'}
{'_id': ObjectId('601c9889631cb040aefa55f2'), 'Code': 'LAO', 'Country': 'Laos'}
{'_id': ObjectId('601c9889631cb040aefa55f3'), 'Code': 'LBN', 'Country': 'Lebanon'}
{'_id': ObjectId('601c9889631cb040aefa55f4'), 'Code': 'LBR', 'Country': 'Liberia'}
{'_id': ObjectId('601c9889631cb040aefa55f5'), 'Code': 'LBY', 'Country': 'Libya'}
{'_id': ObjectId('601c9889631cb040aefa55f6'), 'Code': 'LKA', 'Country': 'Sri Lanka'}
{'_id': ObjectId('601c9889631cb040aefa55f7'), 'Code': 'LSO', 'Country': 'Lesotho'}
{'_id': ObjectId('601c9889631cb040aefa55f8'), 'Code': 'LTU', 'Country': 'Lithuania'}
{'_id': ObjectId('601c9889631cb040aefa55f9'), 'Code': 'LUX', 'Country': 'Luxembourg'}
{'_id': ObjectId('601c9889631cb040aefa55fa'), 'Code': 'LVA', 'Country': 'Latvia'}
{'_id': ObjectId('601c9889631cb040aefa55fb'), 'Code': 'MAR', 'Country': 'Morocco'}
{'_id': ObjectId('601c9889631cb040aefa55fc'), 'Code': 'MDA', 'Country': 'Moldova'}
{'_id': ObjectId('601c9889631cb040aefa55fd'), 'Code': 'MDG', 'Country': 'Madagascar'}
{'_id': ObjectId('601c9889631cb040aefa55fe'), 'Code': 'MEX', 'Country': 'Mexico'}
{'_id': ObjectId('601c9889631cb040aefa55ff'), 'Code': 'MLI', 'Country': 'Mali'}
{'_id': ObjectId('601c9889631cb040aefa5600'), 'Code': 'MMR', 'Country': 'Myanmar'}
{'_id': ObjectId('601c9889631cb040aefa5601'), 'Code': 'MNG', 'Country': 'Mongolia'}
{'_id': ObjectId('601c9889631cb040aefa5602'), 'Code': 'MOZ', 'Country': 'Mozambique'}
{'_id': ObjectId('601c9889631cb040aefa5603'), 'Code': 'MRT', 'Country': 'Mauritania'}
{'_id': ObjectId('601c9889631cb040aefa5604'), 'Code': 'MSR', 'Country': 'Montserrat'}
{'_id': ObjectId('601c9889631cb040aefa5605'), 'Code': 'MUS', 'Country': 'Mauritius'}
{'_id': ObjectId('601c9889631cb040aefa5606'), 'Code': 'MWI', 'Country': 'Malawi'}
{'_id': ObjectId('601c9889631cb040aefa5607'), 'Code': 'MYS', 'Country': 'Malaysia'}
{'_id': ObjectId('601c9889631cb040aefa5608'), 'Code': 'NAM', 'Country': 'Namibia'}
{'_id': ObjectId('601c9889631cb040aefa5609'), 'Code': 'NER', 'Country': 'Niger'}
{'_id': ObjectId('601c9889631cb040aefa560a'), 'Code': 'NGA', 'Country': 'Nigeria'}
{'_id': ObjectId('601c9889631cb040aefa560b'), 'Code': 'NIC', 'Country': 'Nicaragua'}
{'_id': ObjectId('601c9889631cb040aefa560c'), 'Code': 'NLD', 'Country': 'Netherlands'}
{'_id': ObjectId('601c9889631cb040aefa560d'), 'Code': 'NOR', 'Country': 'Norway'}
{'_id': ObjectId('601c9889631cb040aefa560e'), 'Code': 'NPL', 'Country': 'Nepal'}
{'_id': ObjectId('601c9889631cb040aefa560f'), 'Code': 'NZL', 'Country': 'New Zealand'}
{'_id': ObjectId('601c9889631cb040aefa5610'), 'Code': 'OMN', 'Country': 'Oman'}
{'_id': ObjectId('601c9889631cb040aefa5611'), 'Code': 'PAK', 'Country': 'Pakistan'}
{'_id': ObjectId('601c9889631cb040aefa5612'), 'Code': 'PAN', 'Country': 'Panama'}
{'_id': ObjectId('601c9889631cb040aefa5613'), 'Code': 'PER', 'Country': 'Peru'}
{'_id': ObjectId('601c9889631cb040aefa5614'), 'Code': 'PHL', 'Country': 'Philippines'}
{'_id': ObjectId('601c9889631cb040aefa5615'), 'Code': 'PNG', 'Country': 'Papua New Guinea'}
{'_id': ObjectId('601c9889631cb040aefa5616'), 'Code': 'POL', 'Country': 'Poland'}
{'_id': ObjectId('601c9889631cb040aefa5617'), 'Code': 'PRI', 'Country': 'Puerto Rico'}
{'_id': ObjectId('601c9889631cb040aefa5618'), 'Code': 'PRT', 'Country': 'Portugal'}
{'_id': ObjectId('601c9889631cb040aefa5619'), 'Code': 'PRY', 'Country': 'Paraguay'}
{'_id': ObjectId('601c9889631cb040aefa561a'), 'Code': 'PSE', 'Country': 'Palestine'}
{'_id': ObjectId('601c9889631cb040aefa561b'), 'Code': 'QAT', 'Country': 'Qatar'}
{'_id': ObjectId('601c9889631cb040aefa561c'), 'Code': 'ROU', 'Country': 'Romania'}
{'_id': ObjectId('601c9889631cb040aefa561d'), 'Code': 'RUS', 'Country': 'Russia'}
{'_id': ObjectId('601c9889631cb040aefa561e'), 'Code': 'RWA', 'Country': 'Rwanda'}
{'_id': ObjectId('601c9889631cb040aefa561f'), 'Code': 'SAU', 'Country': 'Saudi Arabia'}
{'_id': ObjectId('601c9889631cb040aefa5620'), 'Code': 'SDN', 'Country': 'Sudan'}
{'_id': ObjectId('601c9889631cb040aefa5621'), 'Code': 'SEN', 'Country': 'Senegal'}
{'_id': ObjectId('601c9889631cb040aefa5622'), 'Code': 'SGP', 'Country': 'Singapore'}
{'_id': ObjectId('601c9889631cb040aefa5623'), 'Code': 'SLB', 'Country': 'Solomon Islands'}
{'_id': ObjectId('601c9889631cb040aefa5624'), 'Code': 'SLE', 'Country': 'Sierra Leone'}
{'_id': ObjectId('601c9889631cb040aefa5625'), 'Code': 'SLV', 'Country': 'El Salvador'}
{'_id': ObjectId('601c9889631cb040aefa5626'), 'Code': 'SMR', 'Country': 'San Marino'}
{'_id': ObjectId('601c9889631cb040aefa5627'), 'Code': 'SOM', 'Country': 'Somalia'}
{'_id': ObjectId('601c9889631cb040aefa5628'), 'Code': 'SRB', 'Country': 'Serbia'}
{'_id': ObjectId('601c9889631cb040aefa5629'), 'Code': 'SSD', 'Country': 'South Sudan'}
{'_id': ObjectId('601c9889631cb040aefa562a'), 'Code': 'SUR', 'Country': 'Suriname'}
{'_id': ObjectId('601c9889631cb040aefa562b'), 'Code': 'SVK', 'Country': 'Slovakia'}
{'_id': ObjectId('601c9889631cb040aefa562c'), 'Code': 'SVN', 'Country': 'Slovenia'}
{'_id': ObjectId('601c9889631cb040aefa562d'), 'Code': 'SWE', 'Country': 'Sweden'}
{'_id': ObjectId('601c9889631cb040aefa562e'), 'Code': 'SWZ', 'Country': 'Swaziland'}
{'_id': ObjectId('601c9889631cb040aefa562f'), 'Code': 'SYC', 'Country': 'Seychelles'}
{'_id': ObjectId('601c9889631cb040aefa5630'), 'Code': 'SYR', 'Country': 'Syria'}
{'_id': ObjectId('601c9889631cb040aefa5631'), 'Code': 'TCA', 'Country': 'Turks and Caicos Islands'}
{'_id': ObjectId('601c9889631cb040aefa5632'), 'Code': 'TCD', 'Country': 'Chad'}
{'_id': ObjectId('601c9889631cb040aefa5633'), 'Code': 'TGO', 'Country': 'Togo'}
{'_id': ObjectId('601c9889631cb040aefa5634'), 'Code': 'THA', 'Country': 'Thailand'}
{'_id': ObjectId('601c9889631cb040aefa5635'), 'Code': 'TJK', 'Country': 'Tajikistan'}
{'_id': ObjectId('601c9889631cb040aefa5636'), 'Code': 'TLS', 'Country': 'Timor'}
{'_id': ObjectId('601c9889631cb040aefa5637'), 'Code': 'TTO', 'Country': 'Trinidad and Tobago'}
{'_id': ObjectId('601c9889631cb040aefa5638'), 'Code': 'TUN', 'Country': 'Tunisia'}
{'_id': ObjectId('601c9889631cb040aefa5639'), 'Code': 'TUR', 'Country': 'Turkey'}
{'_id': ObjectId('601c9889631cb040aefa563a'), 'Code': 'TWN', 'Country': 'Taiwan'}
{'_id': ObjectId('601c9889631cb040aefa563b'), 'Code': 'TZA', 'Country': 'Tanzania'}
{'_id': ObjectId('601c9889631cb040aefa563c'), 'Code': 'UGA', 'Country': 'Uganda'}
{'_id': ObjectId('601c9889631cb040aefa563d'), 'Code': 'UKR', 'Country': 'Ukraine'}
{'_id': ObjectId('601c9889631cb040aefa563e'), 'Code': 'URY', 'Country': 'Uruguay'}
{'_id': ObjectId('601c9889631cb040aefa563f'), 'Code': 'USA', 'Country': 'United States'}
{'_id': ObjectId('601c9889631cb040aefa5640'), 'Code': 'UZB', 'Country': 'Uzbekistan'}
{'_id': ObjectId('601c9889631cb040aefa5641'), 'Code': 'VEN', 'Country': 'Venezuela'}
{'_id': ObjectId('601c9889631cb040aefa5642'), 'Code': 'VGB', 'Country': 'British Virgin Islands'}
{'_id': ObjectId('601c9889631cb040aefa5643'), 'Code': 'VNM', 'Country': 'Vietnam'}
{'_id': ObjectId('601c9889631cb040aefa5644'), 'Code': 'OWID_KOS', 'Country': 'Kosovo'}
{'_id': ObjectId('601c9889631cb040aefa5645'), 'Code': 'YEM', 'Country': 'Yemen'}
{'_id': ObjectId('601c9889631cb040aefa5646'), 'Code': 'ZAF', 'Country': 'South Africa'}
{'_id': ObjectId('601c9889631cb040aefa5647'), 'Code': 'ZMB', 'Country': 'Zambia'}
{'_id': ObjectId('601c9889631cb040aefa5648'), 'Code': 'ZWE', 'Country': 'Zimbabwe'}

In [21]:
# Display the MongoDB records created above
data_iterate = db.collection_unemployment.find()

for record in data_iterate:
    print(record)

{'_id': ObjectId('601c9889631cb040aefa5732'), 'Date': '2020-03-31', 'Country': 'Australia', 'Unemployment Rate': 5.2201010000000005}
{'_id': ObjectId('601c9889631cb040aefa5733'), 'Date': '2020-03-31', 'Country': 'Austria', 'Unemployment Rate': 4.6}
{'_id': ObjectId('601c9889631cb040aefa5734'), 'Date': '2020-03-31', 'Country': 'Belgium', 'Unemployment Rate': 5.0}
{'_id': ObjectId('601c9889631cb040aefa5735'), 'Date': '2020-03-31', 'Country': 'Canada', 'Unemployment Rate': 7.8}
{'_id': ObjectId('601c9889631cb040aefa5736'), 'Date': '2020-03-31', 'Country': 'Chile', 'Unemployment Rate': 9.061919}
{'_id': ObjectId('601c9889631cb040aefa5737'), 'Date': '2020-03-31', 'Country': 'Colombia', 'Unemployment Rate': 12.19014}
{'_id': ObjectId('601c9889631cb040aefa5738'), 'Date': '2020-03-31', 'Country': 'Czechia', 'Unemployment Rate': 2.1}
{'_id': ObjectId('601c9889631cb040aefa5739'), 'Date': '2020-03-31', 'Country': 'Denmark', 'Unemployment Rate': 4.8}
{'_id': ObjectId('601c9889631cb040aefa573a'), 'Date': '2020-03-31', 'Country': 'Estonia', 'Unemployment Rate': 4.8}
{'_id': ObjectId('601c9889631cb040aefa573b'), 'Date': '2020-03-31', 'Country': 'Finland', 'Unemployment Rate': 6.7}
{'_id': ObjectId('601c9889631cb040aefa573c'), 'Date': '2020-03-31', 'Country': 'France', 'Unemployment Rate': 7.5}
{'_id': ObjectId('601c9889631cb040aefa573d'), 'Date': '2020-03-31', 'Country': 'Germany', 'Unemployment Rate': 3.8}
{'_id': ObjectId('601c9889631cb040aefa573e'), 'Date': '2020-03-31', 'Country': 'Greece', 'Unemployment Rate': 14.3}
{'_id': ObjectId('601c9889631cb040aefa573f'), 'Date': '2020-03-31', 'Country': 'Hungary', 'Unemployment Rate': 3.7}
{'_id': ObjectId('601c9889631cb040aefa5740'), 'Date': '2020-03-31', 'Country': 'Iceland', 'Unemployment Rate': 3.5}
{'_id': ObjectId('601c9889631cb040aefa5741'), 'Date': '2020-03-31', 'Country': 'Ireland', 'Unemployment Rate': 5.0}
{'_id': ObjectId('601c9889631cb040aefa5742'), 'Date': '2020-03-31', 'Country': 'Israel', 'Unemployment Rate': 3.6105940000000003}
{'_id': ObjectId('601c9889631cb040aefa5743'), 'Date': '2020-03-31', 'Country': 'Italy', 'Unemployment Rate': 8.5}
{'_id': ObjectId('601c9889631cb040aefa5744'), 'Date': '2020-03-31', 'Country': 'Japan', 'Unemployment Rate': 2.5}
{'_id': ObjectId('601c9889631cb040aefa5745'), 'Date': '2020-03-31', 'Country': 'South Korea', 'Unemployment Rate': 3.8}
{'_id': ObjectId('601c9889631cb040aefa5746'), 'Date': '2020-03-31', 'Country': 'Latvia', 'Unemployment Rate': 7.2}
{'_id': ObjectId('601c9889631cb040aefa5747'), 'Date': '2020-03-31', 'Country': 'Lithuania', 'Unemployment Rate': 6.6}
{'_id': ObjectId('601c9889631cb040aefa5748'), 'Date': '2020-03-31', 'Country': 'Luxembourg', 'Unemployment Rate': 6.5}
{'_id': ObjectId('601c9889631cb040aefa5749'), 'Date': '2020-03-31', 'Country': 'Mexico', 'Unemployment Rate': 3.249323}
{'_id': ObjectId('601c9889631cb040aefa574a'), 'Date': '2020-03-31', 'Country': 'Netherlands', 'Unemployment Rate': 2.9}
{'_id': ObjectId('601c9889631cb040aefa574b'), 'Date': '2020-03-31', 'Country': 'Norway', 'Unemployment Rate': 3.6}
{'_id': ObjectId('601c9889631cb040aefa574c'), 'Date': '2020-03-31', 'Country': 'Poland', 'Unemployment Rate': 3.0}
{'_id': ObjectId('601c9889631cb040aefa574d'), 'Date': '2020-03-31', 'Country': 'Portugal', 'Unemployment Rate': 6.2}
{'_id': ObjectId('601c9889631cb040aefa574e'), 'Date': '2020-03-31', 'Country': 'Slovakia', 'Unemployment Rate': 6.0}
{'_id': ObjectId('601c9889631cb040aefa574f'), 'Date': '2020-03-31', 'Country': 'Slovenia', 'Unemployment Rate': 4.5}
{'_id': ObjectId('601c9889631cb040aefa5750'), 'Date': '2020-03-31', 'Country': 'Spain', 'Unemployment Rate': 14.4}
{'_id': ObjectId('601c9889631cb040aefa5751'), 'Date': '2020-03-31', 'Country': 'Sweden', 'Unemployment Rate': 6.8}
{'_id': ObjectId('601c9889631cb040aefa5752'), 'Date': '2020-03-31', 'Country': 'Turkey', 'Unemployment Rate': 12.9}
{'_id': ObjectId('601c9889631cb040aefa5753'), 'Date': '2020-03-31', 'Country': 'United Kingdom', 'Unemployment Rate': 3.8}
{'_id': ObjectId('601c9889631cb040aefa5754'), 'Date': '2020-03-31', 'Country': 'United States', 'Unemployment Rate': 4.4}
{'_id': ObjectId('601c9889631cb040aefa5755'), 'Date': '2020-04-30', 'Country': 'Australia', 'Unemployment Rate': 6.358871}
{'_id': ObjectId('601c9889631cb040aefa5756'), 'Date': '2020-04-30', 'Country': 'Austria', 'Unemployment Rate': 4.7}
{'_id': ObjectId('601c9889631cb040aefa5757'), 'Date': '2020-04-30', 'Country': 'Belgium', 'Unemployment Rate': 5.1}
{'_id': ObjectId('601c9889631cb040aefa5758'), 'Date': '2020-04-30', 'Country': 'Canada', 'Unemployment Rate': 13.0}
{'_id': ObjectId('601c9889631cb040aefa5759'), 'Date': '2020-04-30', 'Country': 'Chile', 'Unemployment Rate': 10.88862}
{'_id': ObjectId('601c9889631cb040aefa575a'), 'Date': '2020-04-30', 'Country': 'Colombia', 'Unemployment Rate': 20.23626}
{'_id': ObjectId('601c9889631cb040aefa575b'), 'Date': '2020-04-30', 'Country': 'Czechia', 'Unemployment Rate': 2.2}
{'_id': ObjectId('601c9889631cb040aefa575c'), 'Date': '2020-04-30', 'Country': 'Denmark', 'Unemployment Rate': 4.9}
{'_id': ObjectId('601c9889631cb040aefa575d'), 'Date': '2020-04-30', 'Country': 'Estonia', 'Unemployment Rate': 6.0}
{'_id': ObjectId('601c9889631cb040aefa575e'), 'Date': '2020-04-30', 'Country': 'Finland', 'Unemployment Rate': 7.3}
{'_id': ObjectId('601c9889631cb040aefa575f'), 'Date': '2020-04-30', 'Country': 'France', 'Unemployment Rate': 7.8}
{'_id': ObjectId('601c9889631cb040aefa5760'), 'Date': '2020-04-30', 'Country': 'Germany', 'Unemployment Rate': 4.0}
{'_id': ObjectId('601c9889631cb040aefa5761'), 'Date': '2020-04-30', 'Country': 'Greece', 'Unemployment Rate': 15.9}
{'_id': ObjectId('601c9889631cb040aefa5762'), 'Date': '2020-04-30', 'Country': 'Hungary', 'Unemployment Rate': 4.1}
{'_id': ObjectId('601c9889631cb040aefa5763'), 'Date': '2020-04-30', 'Country': 'Iceland', 'Unemployment Rate': 3.9}
{'_id': ObjectId('601c9889631cb040aefa5764'), 'Date': '2020-04-30', 'Country': 'Ireland', 'Unemployment Rate': 4.8}
{'_id': ObjectId('601c9889631cb040aefa5765'), 'Date': '2020-04-30', 'Country': 'Israel', 'Unemployment Rate': 3.6862699999999995}
{'_id': ObjectId('601c9889631cb040aefa5766'), 'Date': '2020-04-30', 'Country': 'Italy', 'Unemployment Rate': 7.3}
{'_id': ObjectId('601c9889631cb040aefa5767'), 'Date': '2020-04-30', 'Country': 'Japan', 'Unemployment Rate': 2.6}
{'_id': ObjectId('601c9889631cb040aefa5768'), 'Date': '2020-04-30', 'Country': 'South Korea', 'Unemployment Rate': 3.8}
{'_id': ObjectId('601c9889631cb040aefa5769'), 'Date': '2020-04-30', 'Country': 'Latvia', 'Unemployment Rate': 8.2}
{'_id': ObjectId('601c9889631cb040aefa576a'), 'Date': '2020-04-30', 'Country': 'Lithuania', 'Unemployment Rate': 7.8}
{'_id': ObjectId('601c9889631cb040aefa576b'), 'Date': '2020-04-30', 'Country': 'Luxembourg', 'Unemployment Rate': 7.4}
{'_id': ObjectId('601c9889631cb040aefa576c'), 'Date': '2020-04-30', 'Country': 'Mexico', 'Unemployment Rate': 4.804397}
{'_id': ObjectId('601c9889631cb040aefa576d'), 'Date': '2020-04-30', 'Country': 'Netherlands', 'Unemployment Rate': 3.4}
{'_id': ObjectId('601c9889631cb040aefa576e'), 'Date': '2020-04-30', 'Country': 'Norway', 'Unemployment Rate': 4.1}
{'_id': ObjectId('601c9889631cb040aefa576f'), 'Date': '2020-04-30', 'Country': 'Poland', 'Unemployment Rate': 3.2}
{'_id': ObjectId('601c9889631cb040aefa5770'), 'Date': '2020-04-30', 'Country': 'Portugal', 'Unemployment Rate': 6.3}
{'_id': ObjectId('601c9889631cb040aefa5771'), 'Date': '2020-04-30', 'Country': 'Slovakia', 'Unemployment Rate': 6.7}
{'_id': ObjectId('601c9889631cb040aefa5772'), 'Date': '2020-04-30', 'Country': 'Slovenia', 'Unemployment Rate': 5.4}
{'_id': ObjectId('601c9889631cb040aefa5773'), 'Date': '2020-04-30', 'Country': 'Spain', 'Unemployment Rate': 15.1}
{'_id': ObjectId('601c9889631cb040aefa5774'), 'Date': '2020-04-30', 'Country': 'Sweden', 'Unemployment Rate': 7.9}
{'_id': ObjectId('601c9889631cb040aefa5775'), 'Date': '2020-04-30', 'Country': 'Turkey', 'Unemployment Rate': 13.6}
{'_id': ObjectId('601c9889631cb040aefa5776'), 'Date': '2020-04-30', 'Country': 'United Kingdom', 'Unemployment Rate': 3.7}
{'_id': ObjectId('601c9889631cb040aefa5777'), 'Date': '2020-04-30', 'Country': 'United States', 'Unemployment Rate': 14.7}
{'_id': ObjectId('601c9889631cb040aefa5778'), 'Date': '2020-05-31', 'Country': 'Australia', 'Unemployment Rate': 7.068942}
{'_id': ObjectId('601c9889631cb040aefa5779'), 'Date': '2020-05-31', 'Country': 'Austria', 'Unemployment Rate': 5.7}
{'_id': ObjectId('601c9889631cb040aefa577a'), 'Date': '2020-05-31', 'Country': 'Belgium', 'Unemployment Rate': 5.0}
{'_id': ObjectId('601c9889631cb040aefa577b'), 'Date': '2020-05-31', 'Country': 'Canada', 'Unemployment Rate': 13.7}
{'_id': ObjectId('601c9889631cb040aefa577c'), 'Date': '2020-05-31', 'Country': 'Chile', 'Unemployment Rate': 11.7563}
{'_id': ObjectId('601c9889631cb040aefa577d'), 'Date': '2020-05-31', 'Country': 'Colombia', 'Unemployment Rate': 21.13438}
{'_id': ObjectId('601c9889631cb040aefa577e'), 'Date': '2020-05-31', 'Country': 'Czechia', 'Unemployment Rate': 2.4}
{'_id': ObjectId('601c9889631cb040aefa577f'), 'Date': '2020-05-31', 'Country': 'Denmark', 'Unemployment Rate': 5.5}
{'_id': ObjectId('601c9889631cb040aefa5780'), 'Date': '2020-05-31', 'Country': 'Estonia', 'Unemployment Rate': 7.0}
{'_id': ObjectId('601c9889631cb040aefa5781'), 'Date': '2020-05-31', 'Country': 'Finland', 'Unemployment Rate': 8.0}
{'_id': ObjectId('601c9889631cb040aefa5782'), 'Date': '2020-05-31', 'Country': 'France', 'Unemployment Rate': 6.9}
{'_id': ObjectId('601c9889631cb040aefa5783'), 'Date': '2020-05-31', 'Country': 'Germany', 'Unemployment Rate': 4.2}
{'_id': ObjectId('601c9889631cb040aefa5784'), 'Date': '2020-05-31', 'Country': 'Greece', 'Unemployment Rate': 17.1}
{'_id': ObjectId('601c9889631cb040aefa5785'), 'Date': '2020-05-31', 'Country': 'Hungary', 'Unemployment Rate': 4.8}
{'_id': ObjectId('601c9889631cb040aefa5786'), 'Date': '2020-05-31', 'Country': 'Iceland', 'Unemployment Rate': 4.5}
{'_id': ObjectId('601c9889631cb040aefa5787'), 'Date': '2020-05-31', 'Country': 'Ireland', 'Unemployment Rate': 4.8}
{'_id': ObjectId('601c9889631cb040aefa5788'), 'Date': '2020-05-31', 'Country': 'Israel', 'Unemployment Rate': 4.272801}
{'_id': ObjectId('601c9889631cb040aefa5789'), 'Date': '2020-05-31', 'Country': 'Italy', 'Unemployment Rate': 8.7}
{'_id': ObjectId('601c9889631cb040aefa578a'), 'Date': '2020-05-31', 'Country': 'Japan', 'Unemployment Rate': 2.9}
{'_id': ObjectId('601c9889631cb040aefa578b'), 'Date': '2020-05-31', 'Country': 'South Korea', 'Unemployment Rate': 4.5}
{'_id': ObjectId('601c9889631cb040aefa578c'), 'Date': '2020-05-31', 'Country': 'Latvia', 'Unemployment Rate': 8.7}
{'_id': ObjectId('601c9889631cb040aefa578d'), 'Date': '2020-05-31', 'Country': 'Lithuania', 'Unemployment Rate': 8.5}
{'_id': ObjectId('601c9889631cb040aefa578e'), 'Date': '2020-05-31', 'Country': 'Luxembourg', 'Unemployment Rate': 7.6}
{'_id': ObjectId('601c9889631cb040aefa578f'), 'Date': '2020-05-31', 'Country': 'Mexico', 'Unemployment Rate': 4.309024}
{'_id': ObjectId('601c9889631cb040aefa5790'), 'Date': '2020-05-31', 'Country': 'Netherlands', 'Unemployment Rate': 3.6}
{'_id': ObjectId('601c9889631cb040aefa5791'), 'Date': '2020-05-31', 'Country': 'Norway', 'Unemployment Rate': 4.6}
{'_id': ObjectId('601c9889631cb040aefa5792'), 'Date': '2020-05-31', 'Country': 'Poland', 'Unemployment Rate': 3.3}
{'_id': ObjectId('601c9889631cb040aefa5793'), 'Date': '2020-05-31', 'Country': 'Portugal', 'Unemployment Rate': 5.9}
{'_id': ObjectId('601c9889631cb040aefa5794'), 'Date': '2020-05-31', 'Country': 'Slovakia', 'Unemployment Rate': 6.8}
{'_id': ObjectId('601c9889631cb040aefa5795'), 'Date': '2020-05-31', 'Country': 'Slovenia', 'Unemployment Rate': 5.5}
{'_id': ObjectId('601c9889631cb040aefa5796'), 'Date': '2020-05-31', 'Country': 'Spain', 'Unemployment Rate': 15.3}
{'_id': ObjectId('601c9889631cb040aefa5797'), 'Date': '2020-05-31', 'Country': 'Sweden', 'Unemployment Rate': 8.4}
{'_id': ObjectId('601c9889631cb040aefa5798'), 'Date': '2020-05-31', 'Country': 'Turkey', 'Unemployment Rate': 14.0}
{'_id': ObjectId('601c9889631cb040aefa5799'), 'Date': '2020-05-31', 'Country': 'United Kingdom', 'Unemployment Rate': 3.7}
{'_id': ObjectId('601c9889631cb040aefa579a'), 'Date': '2020-05-31', 'Country': 'United States', 'Unemployment Rate': 13.3}
{'_id': ObjectId('601c9889631cb040aefa579b'), 'Date': '2020-06-30', 'Country': 'Australia', 'Unemployment Rate': 7.440282000000001}
{'_id': ObjectId('601c9889631cb040aefa579c'), 'Date': '2020-06-30', 'Country': 'Austria', 'Unemployment Rate': 5.9}
{'_id': ObjectId('601c9889631cb040aefa579d'), 'Date': '2020-06-30', 'Country': 'Belgium', 'Unemployment Rate': 5.0}
{'_id': ObjectId('601c9889631cb040aefa579e'), 'Date': '2020-06-30', 'Country': 'Canada', 'Unemployment Rate': 12.3}
{'_id': ObjectId('601c9889631cb040aefa579f'), 'Date': '2020-06-30', 'Country': 'Chile', 'Unemployment Rate': 12.32599}
{'_id': ObjectId('601c9889631cb040aefa57a0'), 'Date': '2020-06-30', 'Country': 'Colombia', 'Unemployment Rate': 20.62735}
{'_id': ObjectId('601c9889631cb040aefa57a1'), 'Date': '2020-06-30', 'Country': 'Czechia', 'Unemployment Rate': 2.7}
{'_id': ObjectId('601c9889631cb040aefa57a2'), 'Date': '2020-06-30', 'Country': 'Denmark', 'Unemployment Rate': 6.0}
{'_id': ObjectId('601c9889631cb040aefa57a3'), 'Date': '2020-06-30', 'Country': 'Estonia', 'Unemployment Rate': 8.0}
{'_id': ObjectId('601c9889631cb040aefa57a4'), 'Date': '2020-06-30', 'Country': 'Finland', 'Unemployment Rate': 7.9}
{'_id': ObjectId('601c9889631cb040aefa57a5'), 'Date': '2020-06-30', 'Country': 'France', 'Unemployment Rate': 6.6}
{'_id': ObjectId('601c9889631cb040aefa57a6'), 'Date': '2020-06-30', 'Country': 'Germany', 'Unemployment Rate': 4.4}
{'_id': ObjectId('601c9889631cb040aefa57a7'), 'Date': '2020-06-30', 'Country': 'Greece', 'Unemployment Rate': 18.0}
{'_id': ObjectId('601c9889631cb040aefa57a8'), 'Date': '2020-06-30', 'Country': 'Hungary', 'Unemployment Rate': 4.9}
{'_id': ObjectId('601c9889631cb040aefa57a9'), 'Date': '2020-06-30', 'Country': 'Iceland', 'Unemployment Rate': 4.5}
{'_id': ObjectId('601c9889631cb040aefa57aa'), 'Date': '2020-06-30', 'Country': 'Ireland', 'Unemployment Rate': 5.0}
{'_id': ObjectId('601c9889631cb040aefa57ab'), 'Date': '2020-06-30', 'Country': 'Israel', 'Unemployment Rate': 4.6043769999999995}
{'_id': ObjectId('601c9889631cb040aefa57ac'), 'Date': '2020-06-30', 'Country': 'Italy', 'Unemployment Rate': 9.4}
{'_id': ObjectId('601c9889631cb040aefa57ad'), 'Date': '2020-06-30', 'Country': 'Japan', 'Unemployment Rate': 2.8}
{'_id': ObjectId('601c9889631cb040aefa57ae'), 'Date': '2020-06-30', 'Country': 'South Korea', 'Unemployment Rate': 4.3}
{'_id': ObjectId('601c9889631cb040aefa57af'), 'Date': '2020-06-30', 'Country': 'Latvia', 'Unemployment Rate': 8.9}
{'_id': ObjectId('601c9889631cb040aefa57b0'), 'Date': '2020-06-30', 'Country': 'Lithuania', 'Unemployment Rate': 8.8}
{'_id': ObjectId('601c9889631cb040aefa57b1'), 'Date': '2020-06-30', 'Country': 'Luxembourg', 'Unemployment Rate': 7.6}
{'_id': ObjectId('601c9889631cb040aefa57b2'), 'Date': '2020-06-30', 'Country': 'Mexico', 'Unemployment Rate': 5.506817}
{'_id': ObjectId('601c9889631cb040aefa57b3'), 'Date': '2020-06-30', 'Country': 'Netherlands', 'Unemployment Rate': 4.3}
{'_id': ObjectId('601c9889631cb040aefa57b4'), 'Date': '2020-06-30', 'Country': 'Norway', 'Unemployment Rate': 5.2}
{'_id': ObjectId('601c9889631cb040aefa57b5'), 'Date': '2020-06-30', 'Country': 'Poland', 'Unemployment Rate': 3.3}
{'_id': ObjectId('601c9889631cb040aefa57b6'), 'Date': '2020-06-30', 'Country': 'Portugal', 'Unemployment Rate': 7.3}
{'_id': ObjectId('601c9889631cb040aefa57b7'), 'Date': '2020-06-30', 'Country': 'Slovakia', 'Unemployment Rate': 6.7}
{'_id': ObjectId('601c9889631cb040aefa57b8'), 'Date': '2020-06-30', 'Country': 'Slovenia', 'Unemployment Rate': 5.3}
{'_id': ObjectId('601c9889631cb040aefa57b9'), 'Date': '2020-06-30', 'Country': 'Spain', 'Unemployment Rate': 16.0}
{'_id': ObjectId('601c9889631cb040aefa57ba'), 'Date': '2020-06-30', 'Country': 'Sweden', 'Unemployment Rate': 9.2}
{'_id': ObjectId('601c9889631cb040aefa57bb'), 'Date': '2020-06-30', 'Country': 'Turkey', 'Unemployment Rate': 14.3}
{'_id': ObjectId('601c9889631cb040aefa57bc'), 'Date': '2020-06-30', 'Country': 'United Kingdom', 'Unemployment Rate': 3.9}
{'_id': ObjectId('601c9889631cb040aefa57bd'), 'Date': '2020-06-30', 'Country': 'United States', 'Unemployment Rate': 11.1}
{'_id': ObjectId('601c9889631cb040aefa57be'), 'Date': '2020-07-31', 'Country': 'Australia', 'Unemployment Rate': 7.479592}
{'_id': ObjectId('601c9889631cb040aefa57bf'), 'Date': '2020-07-31', 'Country': 'Austria', 'Unemployment Rate': 5.6}
{'_id': ObjectId('601c9889631cb040aefa57c0'), 'Date': '2020-07-31', 'Country': 'Belgium', 'Unemployment Rate': 5.0}
{'_id': ObjectId('601c9889631cb040aefa57c1'), 'Date': '2020-07-31', 'Country': 'Canada', 'Unemployment Rate': 10.9}
{'_id': ObjectId('601c9889631cb040aefa57c2'), 'Date': '2020-07-31', 'Country': 'Chile', 'Unemployment Rate': 12.28694}
{'_id': ObjectId('601c9889631cb040aefa57c3'), 'Date': '2020-07-31', 'Country': 'Colombia', 'Unemployment Rate': 19.65521}
{'_id': ObjectId('601c9889631cb040aefa57c4'), 'Date': '2020-07-31', 'Country': 'Czechia', 'Unemployment Rate': 2.7}
{'_id': ObjectId('601c9889631cb040aefa57c5'), 'Date': '2020-07-31', 'Country': 'Denmark', 'Unemployment Rate': 6.3}
{'_id': ObjectId('601c9889631cb040aefa57c6'), 'Date': '2020-07-31', 'Country': 'Estonia', 'Unemployment Rate': 7.8}
{'_id': ObjectId('601c9889631cb040aefa57c7'), 'Date': '2020-07-31', 'Country': 'Finland', 'Unemployment Rate': 8.6}
{'_id': ObjectId('601c9889631cb040aefa57c8'), 'Date': '2020-07-31', 'Country': 'France', 'Unemployment Rate': 7.1}
{'_id': ObjectId('601c9889631cb040aefa57c9'), 'Date': '2020-07-31', 'Country': 'Germany', 'Unemployment Rate': 4.5}
{'_id': ObjectId('601c9889631cb040aefa57ca'), 'Date': '2020-07-31', 'Country': 'Greece', 'Unemployment Rate': 16.8}
{'_id': ObjectId('601c9889631cb040aefa57cb'), 'Date': '2020-07-31', 'Country': 'Hungary', 'Unemployment Rate': 4.6}
{'_id': ObjectId('601c9889631cb040aefa57cc'), 'Date': '2020-07-31', 'Country': 'Iceland', 'Unemployment Rate': 5.0}
{'_id': ObjectId('601c9889631cb040aefa57cd'), 'Date': '2020-07-31', 'Country': 'Ireland', 'Unemployment Rate': 5.2}
{'_id': ObjectId('601c9889631cb040aefa57ce'), 'Date': '2020-07-31', 'Country': 'Israel', 'Unemployment Rate': 4.672119}
{'_id': ObjectId('601c9889631cb040aefa57cf'), 'Date': '2020-07-31', 'Country': 'Italy', 'Unemployment Rate': 9.8}
{'_id': ObjectId('601c9889631cb040aefa57d0'), 'Date': '2020-07-31', 'Country': 'Japan', 'Unemployment Rate': 2.9}
{'_id': ObjectId('601c9889631cb040aefa57d1'), 'Date': '2020-07-31', 'Country': 'South Korea', 'Unemployment Rate': 4.2}
{'_id': ObjectId('601c9889631cb040aefa57d2'), 'Date': '2020-07-31', 'Country': 'Latvia', 'Unemployment Rate': 9.0}
{'_id': ObjectId('601c9889631cb040aefa57d3'), 'Date': '2020-07-31', 'Country': 'Lithuania', 'Unemployment Rate': 9.0}
{'_id': ObjectId('601c9889631cb040aefa57d4'), 'Date': '2020-07-31', 'Country': 'Luxembourg', 'Unemployment Rate': 7.2}
{'_id': ObjectId('601c9889631cb040aefa57d5'), 'Date': '2020-07-31', 'Country': 'Mexico', 'Unemployment Rate': 5.148562}
{'_id': ObjectId('601c9889631cb040aefa57d6'), 'Date': '2020-07-31', 'Country': 'Netherlands', 'Unemployment Rate': 4.5}
{'_id': ObjectId('601c9889631cb040aefa57d7'), 'Date': '2020-07-31', 'Country': 'Norway', 'Unemployment Rate': 5.2}
{'_id': ObjectId('601c9889631cb040aefa57d8'), 'Date': '2020-07-31', 'Country': 'Poland', 'Unemployment Rate': 3.2}
{'_id': ObjectId('601c9889631cb040aefa57d9'), 'Date': '2020-07-31', 'Country': 'Portugal', 'Unemployment Rate': 7.9}
{'_id': ObjectId('601c9889631cb040aefa57da'), 'Date': '2020-07-31', 'Country': 'Slovakia', 'Unemployment Rate': 6.8}
{'_id': ObjectId('601c9889631cb040aefa57db'), 'Date': '2020-07-31', 'Country': 'Slovenia', 'Unemployment Rate': 4.8}