In [1]:
##### combine transform notebooks

%run Country_Responses.ipynb ### new source JSON
%run HTML_parsing.ipynb ### new source HTML parsing
%run Mortality_rates.ipynb ### source CSV
%run Unemployment_Rates_MartoSep_2020.ipynb ### source CSV
%run Death_Counts.ipynb ### source CSV

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Coronavirus Update (Live): 104,391,187 Cases and 2,262,733 Deaths from COVID-19 Virus Pandemic - Worldometer
  </title>
  <meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
   <link href="/css/bootstrap.min.css" rel="stylesheet"/>
   <link href="/wm16.css" rel="stylesheet"/>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   <script src="/js/jquery.min.js">
   </script>
   <script src="/js/bootstrap.min.js">
   </script>
   <script src="/js/ie10-viewport-bug-workaround.js">
   </script>
   <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
    </script>
    <script data-cfasync="false" type="text/javascript">
     var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
    </script>
   </link>
  </meta>
 </head>
 <body>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
   </script>
   <script>
    window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
   </script>
   <style type="text/css">
    .style1 {
        color: #666666
    }
   </style>
   <div class="navbar navbar-default">
    <div class="container">
     <div class="navbar-header">
      <div class="logo">
       <a class="navbar-brand" href="/">
        <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
       </a>
      </div>
      <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
      </button>
     </div>
     <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
       <li>
        <a href="/coronavirus/">
         <span style="color:#FF9900; font-weight:bold">
          Coronavirus
         </span>
        </a>
       </li>
       <li>
        <a href="/population/">
         Population
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="container">
    <div class="row">
     <div style="text-align:left; margin-bottom:10px">
      <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
      </script>
      <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
      </ins>
      <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
     </div>
    </div>
    <div class="row">
     <div class="col-md-8">
      <div class="content-inner">
       <style>
        .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
       </style>
       <script src="/js/highcharts.js">
       </script>
       <style type="text/css">
        <!--
    .source { }

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }    .source111 {

    } .source1111 {
        font-size: 12px;
        color: #bbb;
    }



    -->
       </style>
       <div class="label-counter" id="page-top">
        COVID-19 Coronavirus Pandemic
       </div>
       <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
        Last updated: February 03, 2021, 02:26 GMT
       </div>
       <div style="margin-top:20px; text-align:center; font-size:14px">
        <a href="/coronavirus/coronavirus-cases/">
        </a>
        <a href="/coronavirus/worldwide-graphs/">
         Graphs
        </a>
        -
        <a href="#countries">
         Countries
        </a>
        -
        <a href="#news">
         News
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Coronavirus Cases:
        </h1>
        <div class="maincounter-number">
         <span style="color:#aaa">
          104,391,187
         </span>
        </div>
       </div>
       <div style="text-align:center ">
        <a href="#countries">
         view by country
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Deaths:
        </h1>
        <div class="maincounter-number">
         <span>
          2,262,733
         </span>
        </div>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px;">
        <h1>
         Recovered:
        </h1>
        <div class="maincounter-number" style="color:#8ACA2B ">
         <span>
          76,246,542
         </span>
        </div>
       </div>
       <div style="margin-top:50px;">
       </div>
       <style>
        .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
       </style>
       <script>
        $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });
    });
       </script>
       <div class="col-md-6">
        <div class="panel panel-default">
         <div class="panel-heading" style="text-align:center">
          <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
           Active Cases
          </span>
         </div>
         <div class="panel-body" style="text-align:center; height:200px;">
          <div class="panel_flip">
           <div class="panel_front" style="width:100%;height:100%;">
            <div class="number-table-main">
             25,876,452
            </div>
            <div style="font-size:13.5px">
             Currently Infected Patients
            </div>
            <div style="padding-top:20px;position:relative;text-align:center; ">
             <div style="float:left; text-align:center">
              <span class="number-table" style="color:#8080FF">
               25,774,870
              </span>
              (
              <strong>
               99.6
              </strong>
              %)
              <div style="font-size:13px">
               in Mild Condition
              </div>
              <br/>
             </div>
             <div style="float:right; text-align:center">
              <span class="number-table" style="color:red ">
               107,042
              </span>
              (
              <strong>
               0.4
              </strong>
              %)
              <div style="font-size:13px">
               Serious or Critical
              </div>
              <br/>
             </div>
            </div>
            <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">
             Show Graph
            </a>
           </div>
           <div class="panel_back" style="width:100%;height:100%;">
            <div id="total-currently-infected-linear">
            </div>
            <script type="text/javascript">
             Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {

<ipython-input-1-23e1dcca6101>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Netherlands')]
<ipython-input-1-23e1dcca6101>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Ecuador')]
<ipython-input-1-23e1dcca6101>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Spain')]
<ipython-input-1-23e1dcca6101>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('France')]
<ipython-input-1-23e1dcca6101>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Turkey')]
<ipython-input-1-23e1dcca6101>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Indonesia')]
<ipython-input-1-23e1dcca6101>:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Russia')]
<ipython-input-1-23e1dcca6101>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Brazil')]
<ipython-input-1-23e1dcca6101>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Peru')]
<ipython-input-1-23e1dcca6101>:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Chile')]
<ipython-input-1-23e1dcca6101>:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Mexico')]
<ipython-input-1-23e1dcca6101>:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('UK')]
<ipython-input-1-23e1dcca6101>:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Belgium')]
<ipython-input-1-23e1dcca6101>:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Portugal')]
<ipython-input-1-23e1dcca6101>:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Denmark')]
<ipython-input-1-23e1dcca6101>:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Austria')]
<ipython-input-1-23e1dcca6101>:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Germany')]
<ipython-input-1-23e1dcca6101>:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Sweden')]
<ipython-input-1-23e1dcca6101>:21: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('South Africa')]
<ipython-input-1-23e1dcca6101>:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Norway')]
<ipython-input-1-23e1dcca6101>:23: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Israel')]
<ipython-input-1-23e1dcca6101>:24: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Iceland')]
<ipython-input-1-23e1dcca6101>:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Switzerland')]
<ipython-input-1-e89c40057390>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2014')]
<ipython-input-1-e89c40057390>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2015')]
<ipython-input-1-e89c40057390>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2016')]
<ipython-input-1-e89c40057390>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2017')]
<ipython-input-1-e89c40057390>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2018')]
<ipython-input-1-e89c40057390>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2019')]

In [2]:
#DataFrame for Covid Infection Collection
#world_data_4_df.reset_index(inplace=True) 
#world_data_4_df=world_data_4_df.drop(columns='index')
#DataFrame for Country Collection
Country_df.reset_index(inplace=True)

#DataFrame for Stringency Collection
#data_df.reset_index(inplace=True)
#data_df=data_df.drop(columns='index')
#DataFrame for Excess Death Collection
US_by_region_df.reset_index(inplace=True)

#DataFrame for Unemployment Rate Collection
#Unemployment_Rates.reset_index(inplace=True)
#Unemployment_Rates=Unemployment_Rates.drop(columns='index')
#DataFrame for Influenza Collection
Influenza_table.reset_index(inplace=True)

In [3]:
#HTML_parsing relevant dataframe 

#COVID Infection

world_data_4_df.head()

,id,Country,Total_Cases,Total_Deaths,Total_Recovered,Active_Cases,Total_Tests,Population
1,1,United States,27027347,457856,16750422,9819069,315611405,332150930
2,2,India,10778206,154635,10461706,161865,197752057,1388012251
3,3,Brazil,9286256,226383,8160929,898944,28600000,213452652
4,4,Russia,3884730,74158,3340545,470027,102500000,145971594
5,5,UK,3852623,108013,1787706,1956904,73448821,68097051

In [4]:
# Country_Responses.ipynb relevant dataframe 1
#Country

Country_df.tail(50)

         Code                   Country
131       PRI               Puerto Rico
132       PRT                  Portugal
133       PRY                  Paraguay
134       PSE                 Palestine
135       QAT                     Qatar
136       ROU                   Romania
137       RUS                    Russia
138       RWA                    Rwanda
139       SAU              Saudi Arabia
140       SDN                     Sudan
141       SEN                   Senegal
142       SGP                 Singapore
143       SLB           Solomon Islands
144       SLE              Sierra Leone
145       SLV               El Salvador
146       SMR                San Marino
147       SOM                   Somalia
148       SRB                    Serbia
149       SSD               South Sudan
150       SUR                  Suriname
151       SVK                  Slovakia
152       SVN                  Slovenia
153       SWE                    Sweden
154       SWZ                 Swaziland
155       SYC                Seychelles
156       SYR                     Syria
157       TCA  Turks and Caicos Islands
158       TCD                      Chad
159       TGO                      Togo
160       THA                  Thailand
161       TJK                Tajikistan
162       TLS                     Timor
163       TTO       Trinidad and Tobago
164       TUN                   Tunisia
165       TUR                    Turkey
166       TWN                    Taiwan
167       TZA                  Tanzania
168       UGA                    Uganda
169       UKR                   Ukraine
170       URY                   Uruguay
171       USA             United States
172       UZB                Uzbekistan
173       VEN                 Venezuela
174       VGB    British Virgin Islands
175       VNM                   Vietnam
176  OWID_KOS                    Kosovo
177       YEM                     Yemen
178       ZAF              South Africa
179       ZMB                    Zambia
180       ZWE                  Zimbabwe

In [5]:
# Country_Responses.ipynb relevant dataframe 2

#Stringency

data_df= data_df.dropna()
data_df.tail(50)

,Country,Code,Start_Period,Start_Period_Stringency,End_Period,End_Period_Stringency
131,Puerto Rico,PRI,2020-03-28,93.52,2020-11-08,67.59
132,Portugal,PRT,2020-02-02,11.11,2020-11-05,62.96
133,Paraguay,PRY,2020-03-07,5.56,2020-10-29,64.81
134,Palestine,PSE,2020-03-06,74.07,2020-11-10,40.74
135,Qatar,QAT,2020-01-01,0.00,2020-11-09,64.81
136,Romania,ROU,2020-01-01,0.00,2020-11-08,54.63
137,Russia,RUS,2020-01-01,0.00,2020-11-09,44.91
138,Rwanda,RWA,2020-03-15,30.09,2020-11-09,69.44
139,Saudi Arabia,SAU,2020-03-02,11.11,2020-10-29,57.41
140,Sudan,SDN,2020-03-14,45.37,2020-11-07,32.41
141,Senegal,SEN,2020-02-28,0.00,2020-11-02,37.96
142,Singapore,SGP,2020-01-01,0.00,2020-11-02,52.78
143,Solomon Islands,SLB,2020-10-16,43.52,2020-11-07,43.52
144,Sierra Leone,SLE,2020-04-01,60.19,2020-11-03,31.48
145,El Salvador,SLV,2020-03-19,65.74,2020-10-29,52.78
146,San Marino,SMR,2020-01-01,0.00,2020-11-01,31.48
147,Somalia,SOM,2020-03-17,8.33,2020-11-07,37.96
148,Serbia,SRB,2020-02-26,13.89,2020-11-01,51.85
149,South Sudan,SSD,2020-04-06,73.15,2020-11-02,35.19
150,Suriname,SUR,2020-03-15,33.33,2020-11-08,68.52
151,Slovakia,SVK,2020-03-06,16.67,2020-10-29,75.00
152,Slovenia,SVN,2020-02-02,0.00,2020-11-04,68.52
153,Sweden,SWE,2020-01-01,0.00,2020-10-27,37.04
154,Swaziland,SWZ,2020-03-15,19.44,2020-10-28,48.15
155,Seychelles,SYC,2020-03-15,25.00,2020-10-30,31.48
156,Syria,SYR,2020-03-23,77.78,2020-11-09,34.72
157,Turks and Caicos Islands,TCA,2020-03-25,27.78,2020-09-01,53.70
158,Chad,TCD,2020-03-20,27.78,2020-11-09,66.67
159,Togo,TGO,2020-03-04,0.00,2020-10-27,52.78
160,Thailand,THA,2020-01-01,0.00,2020-11-02,43.52
161,Tajikistan,TJK,2020-05-01,46.30,2020-11-06,37.04
162,Timor,TLS,2020-03-22,13.89,2020-10-29,29.63
163,Trinidad and Tobago,TTO,2020-03-13,20.37,2020-11-01,77.78
164,Tunisia,TUN,2020-03-03,0.00,2020-11-02,75.00
165,Turkey,TUR,2020-03-12,23.15,2020-10-28,68.06
166,Taiwan,TWN,2020-01-01,2.78,2020-11-09,19.44
167,Tanzania,TZA,2020-03-17,32.41,2020-10-26,13.89
168,Uganda,UGA,2020-03-22,47.22,2020-11-08,57.41
169,Ukraine,UKR,2020-03-04,11.11,2020-10-26,58.80
170,Uruguay,URY,2020-03-15,51.85,2020-10-29,43.52
171,United States,USA,2020-01-01,0.00,2020-11-08,62.50
172,Uzbekistan,UZB,2020-03-16,60.19,2020-11-02,53.70
173,Venezuela,VEN,2020-03-15,51.85,2020-11-05,84.26
174,British Virgin Islands,VGB,2020-03-27,72.22,2020-09-01,68.52
175,Vietnam,VNM,2020-01-01,0.00,2020-11-02,51.85
176,Kosovo,OWID_KOS,2020-03-14,72.22,2020-11-07,60.19
177,Yemen,YEM,2020-04-10,40.74,2020-11-09,24.07
178,South Africa,ZAF,2020-02-07,2.78,2020-10-29,38.89
179,Zambia,ZMB,2020-03-19,16.67,2020-10-29,41.67
180,Zimbabwe,ZWE,2020-03-21,27.78,2020-10-29,71.30

In [6]:
# Mortality_rates.ipynb relevant dataframe

US_by_region_df.head()

  Jurisdiction deaths expected_deaths excess_deaths        Country
0       Alaska     96              96             9  United States
1      Arizona   1938            1219            98  United States
2     Arkansas    759             676            97  United States
3   California   6252            5819           925  United States
4     Colorado    993             829            98  United States

In [7]:
# Unemployment_Rates_MartoSep_2020.ipynb relevant dataframe

Unemployment_Rates.tail(50)

           Date        Country  Unemployment Rate
185  2020-08-31         France           7.500000
186  2020-08-31        Germany           4.500000
187  2020-08-31        Hungary           4.400000
188  2020-08-31        Iceland           5.000000
189  2020-08-31        Ireland           5.200000
190  2020-08-31         Israel           4.868170
191  2020-08-31          Italy           9.700000
192  2020-08-31          Japan           3.000000
193  2020-08-31    South Korea           3.200000
194  2020-08-31         Latvia           8.800000
195  2020-08-31      Lithuania           9.600000
196  2020-08-31     Luxembourg           6.800000
197  2020-08-31         Mexico           4.967234
198  2020-08-31    Netherlands           4.600000
199  2020-08-31         Norway           5.300000
200  2020-08-31         Poland           3.100000
201  2020-08-31       Portugal           8.100000
202  2020-08-31       Slovakia           6.900000
203  2020-08-31       Slovenia           4.700000
204  2020-08-31          Spain          16.700000
205  2020-08-31         Sweden           9.100000
206  2020-08-31  United States           8.400000
207  2020-09-30      Australia           6.939229
208  2020-09-30        Austria           5.500000
209  2020-09-30        Belgium           5.200000
210  2020-09-30         Canada           9.000000
211  2020-09-30       Colombia          16.611720
212  2020-09-30        Czechia           2.800000
213  2020-09-30        Denmark           6.100000
214  2020-09-30        Finland           8.400000
215  2020-09-30         France           7.900000
216  2020-09-30        Germany           4.500000
217  2020-09-30        Iceland           5.600000
218  2020-09-30        Ireland           5.400000
219  2020-09-30         Israel           4.687041
220  2020-09-30          Italy           9.600000
221  2020-09-30          Japan           3.000000
222  2020-09-30    South Korea           3.900000
223  2020-09-30         Latvia           8.400000
224  2020-09-30      Lithuania           9.800000
225  2020-09-30     Luxembourg           6.700000
226  2020-09-30         Mexico           4.689714
227  2020-09-30    Netherlands           4.400000
228  2020-09-30         Poland           3.100000
229  2020-09-30       Portugal           7.700000
230  2020-09-30       Slovakia           6.800000
231  2020-09-30       Slovenia           4.700000
232  2020-09-30          Spain          16.500000
233  2020-09-30         Sweden           9.000000
234  2020-09-30  United States           7.900000

In [8]:
# Death_Counts.ipynb relevant dataframe

Influenza_table.head()
#####Influenza_table["Country"]= ###add the USA

  Jurisdiction  COVID-19_Deaths  Total_Deaths  Pneumonia_Influenza_Deaths
0      Alabama           3943.0       44469.0                      3652.0
1       Alaska              0.0        3174.0                         0.0
2      Arizona           5188.0       53617.0                      5651.0
3     Arkansas           1615.0       26019.0                      2321.0
4   California          16775.0      220012.0                     22872.0

In [9]:
# Dependencies
import pymongo
import requests
import numpy
from sqlalchemy import create_engine

In [ ]:
# Initialize PyMongo to work with MongoDBs
conn = 'postgres://postgres:postgres@localhost:49331/covid_db'
#client = pymongo.MongoClient(conn)
engine = create_engine(conn)
world_data_4_df.to_sql('covid_infection', engine)
#DataFrame for Covid Infection Collection
#world_data_4_df.reset_index(inplace=True) 

#DataFrame for Country Collection
#Country_df.reset_index(inplace=True)

#DataFrame for Stringency Collection
#data_df.reset_index(inplace=True)

#DataFrame for Excess Death Collection
#US_by_region_df.reset_index(inplace=True)

#DataFrame for Unemployment Rate Collection
#Unemployment_Rates.reset_index(inplace=True)

#DataFrame for Influenza Collection
#Influenza_table.reset_index(inplace=True)

In [ ]:
#df.to_sql('table_name', engine)

In [ ]:
#df.to_sql('table_name', engine)

In [ ]:
#df.to_sql('table_name', engine)

In [ ]:
#df.to_sql('table_name', engine)

In [ ]:
#df.to_sql('table_name', engine)

In [ ]:
#Resetting all dataframes to no indexes

#DataFrame for Covid Infection Collection
#world_data_4_df.reset_index(inplace=True) 

#DataFrame for Country Collection
#Country_df.reset_index(inplace=True)

#DataFrame for Stringency Collection
#data_df.reset_index(inplace=True)

#DataFrame for Excess Death Collection
#US_by_region_df.reset_index(inplace=True)

#DataFrame for Unemployment Rate Collection
#Unemployment_Rates.reset_index(inplace=True)

#DataFrame for Influenza Collection
#Influenza_table.reset_index(inplace=True)

In [ ]:
#Covid Infection Collection        
world_data_dict=world_data_4_df.to_dict("records")
world_clean_json = json.dumps(world_data_dict,cls=CustomEncoder)
world_final  = json.loads(world_clean_json)

#Country Collection
country_data_dict=Country_df.to_dict("records") ###
country_clean_json = json.dumps(country_data_dict,cls=CustomEncoder)
country_final  = json.loads(country_clean_json)

#Stringency Collection
string_data_dict=data_df.to_dict("records")
string_clean_json = json.dumps(string_data_dict,cls=CustomEncoder)
string_final  = json.loads(string_clean_json)

#Excess Death Collection
xsdeath_data_dict=US_by_region_df.to_dict("records")
xsdeath_clean_json = json.dumps(xsdeath_data_dict,cls=CustomEncoder)
xsdeathfinal  = json.loads(xsdeath_clean_json)

#Unemployment Rate Collection
unemp_data_dict=Unemployment_Rates.to_dict("records")
unemp_clean_json = json.dumps(unemp_data_dict,cls=CustomEncoder)
unemp_final  = json.loads(unemp_clean_json)



#Influenza Collection
flu_data_dict=Influenza_table.to_dict("records")
flu_clean_json = json.dumps(flu_data_dict,cls=CustomEncoder)
flu_final  = json.loads(flu_clean_json)

In [ ]:
#Empty Table if data exists
db.collection_stringency.remove( { } )
db.collection_xsdeath.remove( { } )
db.collection_country.remove( { } )
db.collection_covid_infection.remove( { } )
db.collection_unemployment.remove( { } )
db.collection_influenza.remove( { } )

In [ ]:
###push records to DB

db.collection_covid_infection.insert_many(world_final)
db.collection_country.insert_many(country_final)
db.collection_stringency.insert_many(string_final)
db.collection_xsdeath.insert_many(xsdeathfinal)
db.collection_unemployment.insert_many(unemp_final)
db.collection_influenza.insert_many(flu_final)

In [ ]:
print(client.list_database_names())

In [ ]:
# Display the MongoDB records created above
covid_infect = db.collection_covid_infection.find()

for record in covid_infect:
    print(record)

In [ ]:
# Display the MongoDB records created above
data_iterate = db.collection_covid_infection.find()

for record in data_iterate:
    print(record)

In [ ]:
# Display the MongoDB records created above
data_iterate = db.collection_stringency.find()

for record in data_iterate:
    print(record)

In [ ]:
# Display the MongoDB records created above
data_iterate = db.collection_xsdeath.find()

for record in data_iterate:
    print(record)

In [ ]:
# Display the MongoDB records created above
data_iterate = db.collection_country.find()

for record in data_iterate:
    print(record)

In [ ]:
# Display the MongoDB records created above
data_iterate = db.collection_unemployment.find()

for record in data_iterate:
    print(record)

In [ ]:
# Display the MongoDB records created above
data_iterate = db.collection_influenza.find()

for record in data_iterate:
    print(record)